

 #dropdown{
         	color: blue;
         	border:0;
         	  }

#dashboardNav a{
	color: #222222;
	font-size:14px;
 	font:Roboto Light; 
}
 #dashboardNav a:first-child{
 
 color: #0F64BC ;
	
}
#dashboardNav span{
font-size:14px;
font:Roboto;
color: #222222 ;
padding-left: 15px;
padding-right: 15px;
	
}