{
  "swagger": "2.0",
  "info": {
    "title": "Washing Machines API's",
    "description": "APIs for getting washing machines sales and usage information.",
    "version": "1.0"
  },
  "produces": ["application/json"],  
  "host": "washing-machines-api.mybluemix.net",
  "basePath": "/api/v1",
  "paths": {
    "/config/states": {
      "get": {
        "x-swagger-router-controller": "config",
        "operationId": "getAllStates",
        "tags": ["States"],
        "description": "Returns all states where washing machines are available for sale",        
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/State"
            }
          }
        }
      }
    },
    "/sales/charts": {
      "get": {
        "x-swagger-router-controller": "sales",
        "operationId": "getCharts",
        "tags": ["Sales"],
        "description": "Returns washing machines charting details.",        
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/Years"
            }
          }
        }
      }
    },
    "/sales/{chart_id}": {
      "post": {
        "x-swagger-router-controller": "sales",
        "operationId": "getChartById",
        "tags": ["Sales"],
        "description": "Returns washing machines charting details.",
         "parameters": [
          {
            "name": "chart_id",
            "in": "path",
            "description": "Domain id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Payload",
            "in": "body",
            "description": "Washing Machine, Date and Region information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalesByChardPayload"
            }
          }
        ],         
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/SalesByChardPayResponse"
            }
          }
        }
      }
    },
    "/config/sales/years": {
      "get": {
        "x-swagger-router-controller": "config",
        "operationId": "getAllSalesYears",
        "tags": ["Sales"],
        "description": "Returns all sales years",        
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/Years"
            }
          }
        }
      }
    },
    "/config/manufacture/years": {
      "get": {
        "x-swagger-router-controller": "manufacture",
        "operationId": "getAllMfgYears",
        "tags": ["Manufacture"],
        "description": "Returns all manufacture years",        
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/Years"
            }
          }
        }
      }
    },
    "/config/states/cities": {
      "get": {
        "x-swagger-router-controller": "config",
        "operationId": "getAllCitiesByStates",
        "tags": ["Cities"],
        "description": "Returns all cities in a state where washing machine is sold", 
        "parameters": [
          {
            "name": "state_names",
            "in": "query",
            "description": "State names",
            "required": true,
            "type": "array",
            "items": {
                      "type": "string"                      
                    }
          }          
        ],        
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/Cities"
            }
          }
        }
      }
    },
    "/config/cities/zipcodes": {
      "get": {
        "x-swagger-router-controller": "config",
        "operationId": "getAllZipCodesByCities",
        "tags": ["Zip Codes"],
        "description": "Returns all zip codes where washing machines are available for sell", 
        "parameters": [
          {
            "name": "cities_names",
            "in": "query",
            "description": "Cities names",
            "required": true,
            "type": "array",
            "items": {
                      "type": "string"                      
                    }
          }          
        ],          
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/ZipCodes"
            }
          }
        }
      }
    },
    "/config/makes": {
      "get": {
        "x-swagger-router-controller": "config",
        "operationId": "getAllMakes",
        "tags": ["Makes"],
        "description": "Returns all makes/brand names.",        
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/Makes"
            }
          }
        }
      }
    },
    "/config/makes/models": {
      "get": {
        "x-swagger-router-controller": "config",
        "operationId": "getAllModelsByMakes",
        "tags": ["Models"],
        "description": "Returns all modles by make/brand name",
        "parameters": [
          {
            "name": "make_names",
            "in": "query",
            "description": "Makes/Brand Names",
            "required": true,
            "type": "array",
            "items": {
                      "type": "string"                      
                    }
          }          
        ],                 
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",            
            "schema": {
              "type": "array",
              "$ref": "#/definitions/Models"
            }
          }
        }
      }
    },
    "/config/models/skus": {
      "get": {
        "x-swagger-router-controller": "config",
        "operationId": "getAllSKUsByModels",
        "tags": ["SKUs"],
        "description": "Returns all SKU's for given model(s)",
        "parameters": [
          {
            "name": "model_names",
            "in": "query",
            "description": "Model(s) names",
            "required": true,
            "type": "array",
            "items": {
                      "type": "string"                      
                    }
          }          
        ],               
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",            
            "schema": {
              "type": "array",
              "$ref": "#/definitions/Models"
            }
          }
        }
      }
    },
    "/usage": {
      "post": {
        "x-swagger-router-controller": "usage",
        "operationId": "getUsage",
        "tags": ["Usage"],
        "description": "Returns washing machines usage paramters like water load, detergent, power etc.)",
        "parameters": [
          {
            "name": "Payload",
            "in": "body",
            "description": "Washing Machine, Date and Region information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Usage"
            }
          }
        ],      
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",            
            "schema": {
              "type": "array",
              "$ref": "#/definitions/Usage"
            }
          }
        }
      }
    },
    "/sensors": {
      "post": {
        "x-swagger-router-controller": "sensor",
        "operationId": "getUsage",
        "tags": ["Sensors"],
        "description": "Returns washing machines usage paramters like water load, detergent, power etc.",
        "parameters": [
          {
            "name": "Payload",
            "in": "body",
            "description": "Washing Machine, Date and Region information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Usage"
            }
          }
        ],      
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",            
            "schema": {
              "type": "array",
              "$ref": "#/definitions/Usage"
            }
          }
        }
      }
    },
    "/sensors/{sensor}": {
      "post": {
        "x-swagger-router-controller": "sensor",
        "operationId": "getUsage",
        "tags": ["Sensors"],
        "description": "Returns washing machines usage for a single attribute like temperature, power usage etc",
        "parameters": [
          {
            "name": "sensor",
            "in": "path",
            "description": "Sensor name (temperature, water, power sensor etc).",
            "required": true,
            "type": "string"
          }, 
          {
            "name": "Payload",
            "in": "body",
            "description": "Washing Machine, Date and Region information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Usage"
            }
          }
        ],      
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",            
            "schema": {
              "type": "array",
              "$ref": "#/definitions/Usage"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "State": {
      "properties": {
        "state_name": {
          "type": "string"
        }
      }
    },
    "Years": {
      "properties": {
        "year": {
          "type": "string"
        }
      }
    },
    "City": {
      "properties": {
        "city_name": {
          "type": "string"
        }
      }
    },  
    "Cities": {
      "properties": {
        "state_name": {
          "type": "array",
          "items": {            
            "type": "string"
          }          
        }
      }
    },
    "ZipCodes": {
      "properties": {
        "state_name": {
          "type": "array",
          "items": {            
            "type": "string"
          }          
        }
      }
    },
    "Make": {
      "properties": {
        "make_name": {
          "type": "string"
        }
      }
    },
    "DateRange": {
      "properties": {
        "start_date": {
          "type": "string"
        },
        "end_date": {
          "type": "string"
        }
      }
    },
    "Model": {
      "properties": {
        "model_name": {
          "type": "string"
        }
      }
    },      
    "Makes": {
      "properties": {
        "makes": {
          "type": "array",
          "items": {            
            "$ref": "#/definitions/Make"
          }          
        }
      }
    },
    "Models": {
      "properties": {
        "make_name": {
          "type": "array",
          "items": {            
            "type": "string"
          }          
        }
      }
    },
    "SKU": {
      "properties": {
        "sku_name": {
          "type": "string"
        }
      }
    },   
    "SKUs": {
      "properties": {
        "sku_name": {
          "type": "array",
          "items": {            
            "$ref": "#/definitions/SKU"
          }          
        }
      }
    },
    "ProductAttr": {
      "properties": {
        "makes": {
          "type": "array",
          "items": {            
            "$ref": "#/definitions/Make" 
          }          
        },
        "models": {
          "type": "array",
          "items": {            
            "$ref": "#/definitions/Model" 
          }          
        },
        "skus": {
          "type": "array",
          "items": {            
            "$ref": "#/definitions/SKU" 
          }          
        },
        "mfg_date": {                    
          "$ref": "#/definitions/DateRange"                  
        }
      }
    },
    "TemplateString": {
      "properties": {
        "value": {
          "type": "string"
        }
      }
    }, 
    "TemplateNumber": {
      "properties": {
        "value": {
          "type": "integer"
        }
      }
    }, 
    "relative": {
      "properties": {
        "unit": {
          "type": "string"
        },
        "value": {
          "type": "integer"
        }
      }
    }, 
    "timescale": {
      "properties": {
        "years": {
          "type": "array",
          "items": {            
            "$ref": "#/definitions/TemplateString" 
          }          
        },
        "quarters": {
          "type": "array",
          "items": {            
            "$ref": "#/definitions/TemplateNumber" 
          }          
        },
        "months": {
          "type": "array",
          "items": {            
            "$ref": "#/definitions/TemplateNumber" 
          }          
        },
        "date": {                    
          "$ref": "#/definitions/DateRange"                  
        },
        "relative": {                    
          "$ref": "#/definitions/relative"                  
        }
      }  
    },
    "region": {
      "properties": {
        "states": {
          "type": "array",
          "items": {            
            "$ref": "#/definitions/TemplateString" 
          }          
        },
        "cities": {
          "type": "array",
          "items": {            
            "$ref": "#/definitions/TemplateString" 
          }          
        },
        "zip_codes": {
          "type": "array",
          "items": {            
            "$ref": "#/definitions/TemplateString" 
          }          
        }
      }  
    },    
    "Usage": {
      "properties": {
        "productAttrs": {                   
           "$ref": "#/definitions/ProductAttr"                    
         },
         "timescale": {                   
           "$ref": "#/definitions/timescale"                    
         },
         "region": {                   
           "$ref": "#/definitions/region"                    
         }
      }
    },
    "SalesByChardPayload": {
      "properties": {
        "productAttrs": {                   
           "$ref": "#/definitions/ProductAttr"                    
         },
         "timescale": {                   
           "$ref": "#/definitions/timescale"                    
         },
         "region": {                   
           "$ref": "#/definitions/region"                    
         }
      }
    },
    "SalesByChardPayResponse": {
      "properties": {
        "productAttrs": {                   
           "$ref": "#/definitions/ProductAttr"                    
         },
         "timescale": {                   
           "$ref": "#/definitions/timescale"                    
         },
         "region": {                   
           "$ref": "#/definitions/region"                    
         }
      }
    },    
    "Error": {
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "required": ["message"]
    }
  }
}