{
  "swagger": "2.0",
  "info": {
    "title": "Washing Machines API's",
    "description": "APIs for getting washing machines sales and usage information.",
    "version": "1.0"
  },
  "produces": ["application/json"],  
  "host": "washing-machines-api.mybluemix.net",
  "basePath": "/api/v1",
  "paths": {
    "/config/states": {
      "get": {
        "x-swagger-router-controller": "config",
        "operationId": "getAllStates",
        "tags": ["/States"],
        "description": "Returns all states where washing machines are available for sale",        
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/State"
            }
          }
        }
      }
    },
    "/config/years": {
      "get": {
        "x-swagger-router-controller": "config",
        "operationId": "getAllSalesYears",
        "tags": ["/Sales"],
        "description": "Returns all sales years",        
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/SalesYears"
            }
          }
        }
      }
    },
    "/config/states/cities": {
      "get": {
        "x-swagger-router-controller": "config",
        "operationId": "getAllCitiesByStates",
        "tags": ["/Cities"],
        "description": "Returns all cities in a state where washing machine is sold", 
        "parameters": [
          {
            "name": "state_names",
            "in": "query",
            "description": "State names",
            "required": true,
            "type": "array",
            "items": {
                      "type": "string"                      
                    }
          }          
        ],        
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/Cities"
            }
          }
        }
      }
    },
    "/config/cities/zipcodes": {
      "get": {
        "x-swagger-router-controller": "config",
        "operationId": "getAllZipCodesByCities",
        "tags": ["/Zip Codes"],
        "description": "Returns all zip codes where washing machines are available for sell", 
        "parameters": [
          {
            "name": "cities_names",
            "in": "query",
            "description": "Cities names",
            "required": true,
            "type": "array",
            "items": {
                      "type": "string"                      
                    }
          }          
        ],          
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/ZipCodes"
            }
          }
        }
      }
    },
    "/config/makes": {
      "get": {
        "x-swagger-router-controller": "config",
        "operationId": "getAllMakes",
        "tags": ["/Makes"],
        "description": "Returns all makes/brand names.",        
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/Makes"
            }
          }
        }
      }
    },
    "/config/makes/models": {
      "get": {
        "x-swagger-router-controller": "config",
        "operationId": "getAllModelsByMakes",
        "tags": ["/Models"],
        "description": "Returns all modles by make/brand name",
        "parameters": [
          {
            "name": "make_names",
            "in": "query",
            "description": "Makes/Brand Names",
            "required": true,
            "type": "array",
            "items": {
                      "type": "string"                      
                    }
          }          
        ],                 
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",            
            "schema": {
              "type": "array",
              "$ref": "#/definitions/Models"
            }
          }
        }
      }
    },
    "/config/models/skus": {
      "get": {
        "x-swagger-router-controller": "config",
        "operationId": "getAllSKUsByModels",
        "tags": ["/SKUs"],
        "description": "Returns all SKU's for given model(s)",
        "parameters": [
          {
            "name": "model_names",
            "in": "query",
            "description": "Model(s) names",
            "required": true,
            "type": "array",
            "items": {
                      "type": "string"                      
                    }
          }          
        ],               
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",            
            "schema": {
              "type": "array",
              "$ref": "#/definitions/Models"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "State": {
      "properties": {
        "state_name": {
          "type": "string"
        }
      }
    },
    "SalesYears": {
      "properties": {
        "year": {
          "type": "string"
        }
      }
    },
    "City": {
      "properties": {
        "city_name": {
          "type": "string"
        }
      }
    },  
    "Cities": {
      "properties": {
        "state_name": {
          "type": "array",
          "items": {            
            "type": "string"
          }          
        }
      }
    },
    "ZipCodes": {
      "properties": {
        "state_name": {
          "type": "array",
          "items": {            
            "type": "string"
          }          
        }
      }
    },
    "Makes": {
      "properties": {
        "make_name": {
          "type": "string"
        }
      }
    },
    "Models": {
      "properties": {
        "make_name": {
          "type": "array",
          "items": {            
            "type": "string"
          }          
        }
      }
    },
    "SKUs": {
      "properties": {
        "sku_name": {
          "type": "array",
          "items": {            
            "type": "string"
          }          
        }
      }
    },
    "Error": {
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "required": ["message"]
    }
  }
}