<div class="somediv hidden" id="hiddenDiv"></div>
<div class="chart-somediv hidden" id="hiddenDiv"></div>
<div class="hidden gridMaximize" id="gridMax"></div>
<h3 style="padding-top: 20px; padding-bottom: 10px">
	<link href="app/css/charts.css" rel="stylesheet" />
	<link href="app/css/table.css" rel="stylesheet" />

	<!-- START Language list-->

	<!-- END Language list    -->

	<div class="pull-right">Application Dashboard Last Updated {{currentDate}}</div>

	<div id="dashboardNav" ng-controller="MyviewController">
		<a ng-click="getUrl()"
			style="font-size: 14px; font: Roboto Light; color: #0F64BC;">Washing
			Machine Monitor System </a> <span
			style="font-size: 14px; font: Roboto; color: #222222; padding-left: 15px; padding-right: 15px;">
			></span> <a href="#"
			style="font-size: 14px; font: Roboto Light; color: #222222">
			Dashboard </a>
	</div>


</h3>




<div class="row">

	<!-- <div class="panel panel-default" style="padding-bottom:10px; padding-top:10px; background-color: #E7EEF6;">-->

	<!-- <div class="panel-body" style="padding: 0px;"> -->
	<!--  <form role="form" class="form-inline"> -->
	<!-- <fieldset class="last-child" style="padding-bottom: 0px; margin-bottom:0px "> -->



	<div class="form-group filter-filterDiv col-lg-12"
		style="width: 100% auto; margin-top: -26px;" id="filterDivId">

		<div class="col-lg-2"
			style="max-width: 150px; margin-left: 15px; padding-right: 0px; padding-left: 0px;">
			<select name="" class="form-control filter-selectStyle"
				ng-model="region.states" ng-change="selectCities()">
				<option class="option-text-style" value="" disabled selected>States


				
				<option class="option-text-style" value="">All
				<option class="option-text-style" ng-repeat="state in states"
					value={{state.name}}>{{state.name}}</option>
			</select>
			<!--  <option class="option-text-style" value="" disabled selected>States
						<option class="option-text-style" value="Arizona" >Arizona
						<option class="option-text-style" value="California" >California
						<option class="option-text-style" value="Florida" >Florida
						<option class="option-text-style" value="New York" >New York
						<option class="option-text-style" value="Tennessee" >Tennessee
						<option class="option-text-style" value="Texas" >Texas
						<option class="option-text-style" value="Virginia" >Virginia
						<option class="option-text-style" value="Washington" >Washington
						<option class="option-text-style" value="Wisconsin" >Wisconsin -->

		</div>
		<!-- <div class="col-sm-1" style="padding-left: 3px;">
               </div> -->
		<div class="col-lg-2"
			style="max-width: 150px; margin-left: 15px !important; padding-right: 0px; padding-left: 0px;">
			<select name="" class="form-control filter-selectStyle"
				ng-model="region.cities" ng-change="selectZip()">
				<option class="option-text-style" value="" disabled selected>Cities


				
				<option class="option-text-style" value="">All
				<option class="option-text-style" ng-repeat="city in cities"
					value={{city.city}}>{{city.city}}
					<!--<option class="option-text-style" value="" >San Diego
					<option class="option-text-style" value="" >San Jose -->
			</select>

		</div>
		<!-- <div class="col-sm-1" style="padding-left: 3px;" >
               </div> -->
		<div class="col-lg-2"
			style="max-width: 150px; margin-left: 15px !important; padding-right: 0px; padding-left: 0px;">
			<select name="" class="form-control filter-selectStyle"
				ng-model="region.zip_codes">
				<option class="option-text-style" value="" disabled selected>Zip
					Code
				<option class="option-text-style" value="">All
				<option class="option-text-style" ng-repeat="zip in zips"
					value={{zip.zip_code}}>{{zip.zip_code}}
					<!-- <option class="option-text-style" value="" disabled selected>Zip Code
					<option class="option-text-style" value="" >1001
					<option class="option-text-style" value="" >1001
					<option class="option-text-style" value="" >1001 -->
			</select>

		</div>
		<!-- <div class="col-sm-1" style="padding-left: 3px;">
               </div> -->
		<div class="col-lg-2"
			style="max-width: 150px; margin-left: 15px !important; padding-right: 0px; padding-left: 0px;">
			<select name="" class="form-control filter-selectStyle"
				ng-model="timescale.years">
				<option class="option-text-style" value="" disabled selected>Year


				
				<option class="option-text-style" value="">All
				<option class="option-text-style"
					ng-repeat="sales_year in sales_years" value={{sales_year.year}}>{{sales_year.year}}


				
			</select>

		</div>
		<!-- <div class="col-sm-1" style="padding-left: 3px;">
               </div> -->
		<div class="col-lg-2"
			style="max-width: 150px; margin-left: 15px !important; padding-right: 0px; padding-left: 0px;">
			<select name="" class="form-control filter-selectStyle"
				ng-model="timescale.quarters" ng-change="quarterMonths()">
				<option class="option-text-style" value="" selected disabled>Quarter


				
				<option class="option-text-style" value="">All
				<option class="option-text-style" ng-repeat="quarter in quarters"
					value={{quarter.id}}>{{quarter.value}}
			</select>

		</div>
		<!-- <div class="col-sm-1" style="padding-left: 3px;">
               </div> -->
		<div class="col-lg-2"
			style="max-width: 150px; margin-left: 15px !important; padding-right: 0px; padding-left: 0px;">
			<select name="" class="form-control filter-selectStyle"
				ng-model="timescale.months">
				<option class="option-text-style" value="" selected disabled>Month


				
				<option class="option-text-style" value="">All
				<option class="option-text-style" ng-repeat="month in months"
					value={{month.id}}>{{month.value}}
			</select>

		</div>

		<div class="col-lg-1 "
			style="max-width: 114px; margin-left: 15px !important padding-left:0px;">
			<button ng-disabled="isDisabled" class="btn btn-default"
				style="min-width: 114px;; background-color: #4C74E2; height: 34px; font-family: Roboto; font-size: 15px; color: #FFFFFF; margin-left: 42px;"
				id="applyFilter" ng-click="tryit()">
				<span ng-show="test"><i
					class="glyphicon glyphicon-refresh spinning"></i></span>
				{{searchButtonText}}
			</button>

		</div>




	</div>

	<!-- </fieldset> -->

</div>

<!-- </form>    -->
<!-- </div> -->


<div class="row" ng-controller="filterIconController">
	<div ng-show="someArray.length > 0" class="form-group  col-lg-12"
		style="width: 100% auto;">
		<div ng-repeat="va in someArray"
			style="height: 26px; background: #91aed3; padding: 4px; margin: 1px; display: inline-block; color: fff; border-radius: 2px !important; font-size: 11pt;">
			{{va.value}} <span style="color: #fff; font-size: 11pt;"
				ng-click='removeFilter(va)'>X</span>
		</div>
	</div>
</div>


<div class="row">
	<!-- START dashboard main content-->


	<div class="col-lg-4 " ng-controller="myController">
		<div class="chart-chartDiv" id="chartParent">
			<div class="chart-filterDiv " id="chartFilterDivId">
				<select ng-class="{'chart-selectStyle2': isActive1}"
					ng-click="activeButton(1)" id="first-chart-select"
					class="chart-selectStyle col-md-5 " ng-change="Engdisp($index)"
					ng-model="selectedSensors"
					style="padding-right: 0px; padding-left: 3px; margin-top: 2px">

					<option class="chart-option-text-style" disabled value="">Please
						select</option>
					<option class="chart-option-text-style" ng-if="$index==0"
						ng-init="Engdisp($index)" selected
						ng-repeat="sensor in sensorsList track by $index"
						value="{{$index}}">{{sensor.displayName}}</option>
					<option class="chart-option-text-style" ng-if="$index!=0"
						ng-repeat="sensor in sensorsList track by $index"
						value="{{$index}}">{{sensor.displayName}}</option>
				</select> <select ng-class="{'chart-selectStyle2': isActive2}"
					ng-click="activeButton(2)" id="second-chart-select"
					class="chart-selectStyle col-md-3 chart-border "
					style="padding-right: 0px; padding-left: 3px; margin-top: 2px">
					<option class="chart-option-text-style" value="">Last 1
						day
					<option class="chart-option-text-style" value="" selected>Last
						7 days
					<option class="chart-option-text-style" value="">Last 30
						days
					<option class="chart-option-text-style" value="">Last 3
						months
					<option class="chart-option-text-style" value="">Last 6
						months
					<option class="chart-option-text-style" value="">Last 1
						year
					<option class="chart-option-text-style" value="">Last 3
						years
				</select> <select ng-class="{'chart-selectStyle2': isActive3}"
					ng-click="activeButton(3)" id="third-chart-select"
					class="chart-selectStyle col-md-3"
					ng-change="dispChart(selectedChart)" ng-model="selectedChart"
					style="padding-right: 0px; padding-left: 3px; margin-top: 2px">
					<option class="chart-option-text-style"
						ng-init="dispChart(selectedChart)"
						ng-repeat="chart in EngchartTypes" value="{{chart}}">{{chart}}</option>
				</select> <img id="maximize" class="pull-right col-md-1"
					style="padding: 0px; margin-top: 10px; margin-right: 9px; height: 15px; width: 15px;"
					src="app/img/Dashboardassets/icon_maximize.png"
					ng-click="maximize()"></img> <img id="close"
					class=" col-md-1 image-margin close-image-size hidden pull-right"
					src="app/img/Dashboardassets/close.png" ng-click="closing()">
			</div>

			<div id="container" class="graphDiv">
				<span ng-show="progress" class="progress-chart"><img alt=""
					src="app/img/icon-load.gif" width="25%" ;height="25%"> </span>
			</div>

			<!-- 		<div ng-if="selectedChart=='Pie'" id="piecontainer" class="graphDiv"ng-init="plotPieChart('piecontainer')"></div>
			<div ng-if="selectedChart=='Bar'" class="graphDiv" id="bar"ng-init="plotBarChart('bar')">

				<div class="row pull-right" style="margin-top: -60px;margin-right: 10px;">
				<div class="circle circle-color-sold" style="display: inline-block;"></div>&nbsp;&nbsp;<label class="chart-label">{{labels[0]}}</label> &nbsp;&nbsp;<div class="circle circle-color-connected" style="display: inline-block;"></div>&nbsp;&nbsp;<label class="chart-label">{{labels[1]}}</label>
			</div>
			
			<canvas  id="bar" class="chart chart-bar" chart-data="barData" chart-labels="barLabels" chart-series="barSeries"></canvas> 
			</div>
			<div ng-if="selectedChart=='Multiline'" id="container"
				class="graphDiv" ng-init="plotChartFunction('container')"></div> -->
		</div>

	</div>

	<div class="col-lg-4" ng-controller="mapController"
		ng-init="plotMapFunction('map-container')">
		<div class="panel panel-default" style="width: 100%; height: 373px"
			id="mapNormal">

			<div class="panel-heading md-body-2"
				style="font-family: Roboto; font-size: 15px; padding-left: 20px; padding-top: 10px;">
				<b>Sales Volume Distribution </b> <img id="mapMaxImg"
					class="pull-right col-md-1"
					style="padding: 0px; height: 15px; width: 15px;"
					src="app/img/Dashboardassets/icon_maximize.png"
					ng-click="maximizeMap()"></img> <img id="mapMinImg"
					class="pull-right hidden col-md-1 "
					style="padding: 0px; height: 15px; width: 15px;"
					src="app/img/Dashboardassets/close.png"></img>
			</div>
			<div id="map-container" class="map-mapDiv"
				style="width: 99%; height: 325px"></div>
		</div>
	</div>


	<div class="col-lg-4" style="width: 374px; height: 373px">
		<div class="panel panel-default" style="width: 450px; height: 373px">
			<div class="panel-heading" style="background-color: #ffffff;">
				<div class="pull-right ">
					<img class="col-md-1"
						style="padding: 0px; height: 15px; width: 15px;"
						src="app/img/Dashboardassets/help.png"></img>
				</div>

				<div class="panel-title md-body-2"
					style="font-family: Roboto; font-size: 15px;">Insights</div>
			</div>

			<scrollable height="230" class="list-group list-scroll"
				ng-controller="InfiniteScrollController">


			<div infinite-scroll-distance="1"
				style="overflow-y: scroll; overflow-x: hidden;">


				<div class="col-lg-6" style="width: 420px; height: 310px;">

					<div class="col-lg-6" id="nav1" style="">
						<div
							style="width: 25px; height: 175px; background-repeat: repeat-y;">
							<div
								class="alert-warning media-box-object img-circle thumb32 text-center">
								<h2 class="mv-lg">1</h2>
							</div>
							<img src="app/img/Dashboardassets/lines.jpg" class="thumb33"
								alt="Image" style="background-repeat: repeat-y;" />
						</div>

						<div style="width: 25px; height: 175px; padding-top: 5px;">
							<div
								class="alert-warning media-box-object img-circle thumb32 text-center"
								style="width: 25px; height: 175px">
								<h2 class="mv-lg">2</h2>
							</div>
							<img src="app/img/Dashboardassets/lines.jpg" class="thumb33"
								alt="Image" style="background-repeat: repeat-y;" />
						</div>
						<div style="width: 25px; height: 175px; padding-top: 25px;">
							<div
								class="alert-warning media-box-object img-circle thumb32 text-center"
								style="width: 25px; height: 175px">
								<h2 class="mv-lg">3</h2>
							</div>
						</div>
					</div>

					<div class="col-lg-6" id="nav2" style="height: 100%;">
						<div id="most-fault-container"
							ng-init="getMostFaults('most-fault-container')"
							class="insights-insightsDiv">
							<span
								style="display: block; height: 50%; text-align: center; color: #4C74E2; padding-top: 30%; padding-bottom: 15%; border-bottom-color: transparent; background-color: transparent; font-size: 18px"
								ng-show="isDisabled" class="glyphicon glyphicon-alert"
								aria-hidden="true"> <span class="sr-only">Error:</span>
								{{msg}}
							</span> <span
								style="display: block; height: 50%; text-align: center; color: #e60000; padding-top: 30%; padding-bottom: 15%; border-bottom-color: transparent; background-color: transparent; font-size: 18px"
								ng-show="isError||isNoDataDB" class="glyphicon glyphicon-alert"
								aria-hidden="true"> <span class="sr-only">Error:</span>
								{{msg}}
							</span>

						</div>
						<div id="least-fault-container"
							ng-init="getLeastFaults('least-fault-container')"
							class="insights-insightsDiv">
							<span
								style="display: block; height: 50%; text-align: center; color: #4C74E2; padding-top: 30%; padding-bottom: 15%; border-bottom-color: transparent; background-color: transparent; font-size: 18px"
								ng-show="isDisabled" class="glyphicon glyphicon-alert"
								aria-hidden="true"> <span class="sr-only">Error:</span>
								{{msg}}
							</span> <span
								style="display: block; height: 50%; text-align: center; color: #e60000; padding-top: 30%; padding-bottom: 15%; border-bottom-color: transparent; background-color: transparent; font-size: 18px"
								ng-show="isError||isNoDataDB" class="glyphicon glyphicon-alert"
								aria-hidden="true"> <span class="sr-only">Error:</span>
								{{msg}}
							</span>
						</div>
						<div id="common-fault-container"
							ng-init="getCommonFaults('common-fault-container')"
							class="insights-insightsDiv">
							<span
								style="display: block; height: 50%; text-align: center; color: #4C74E2; padding-top: 30%; padding-bottom: 15%; border-bottom-color: transparent; background-color: transparent; font-size: 18px"
								ng-show="isDisabled" class="glyphicon glyphicon-alert"
								aria-hidden="true"> <span class="sr-only">Error:</span>
								{{msg}}
							</span> <span
								style="display: block; height: 50%; text-align: center; color: #e60000; padding-top: 30%; padding-bottom: 15%; border-bottom-color: transparent; background-color: transparent; font-size: 18px"
								ng-show="isError||isNoDataDB" class="glyphicon glyphicon-alert"
								aria-hidden="true"> <span class="sr-only">Error:</span>
								{{msg}}
							</span>
						</div>
					</div>
				</div>
			</scrollable>

		</div>
	</div>
	<!-- END dashboard sidebar-->

</div>





<div class="row" style="padding-top: 20px">

	<!-- START dashboard main content-->





	<div class="col-lg-8">
		<!-- START panel -->

		<div class="panel panel-default" id="gridNormal">
			<div class="panel-heading md-body-2"
				style="font-family: Roboto; font-size: 15px; padding-left: 20px; padding-top: 10px;">
				Washing Machines status <img id="gridMaxImg"
					class="pull-right col-md-1"
					style="padding: 0px; height: 15px; width: 15px;"
					src="app/img/Dashboardassets/icon_maximize.png"
					ng-click="maximizeGrid()"></img> <img id="gridCloseImg"
					class="pull-right hidden col-md-1 "
					style="padding: 0px; height: 15px; width: 15px;"
					src="app/img/Dashboardassets/close.png" ng-click="closeGrid()"></img>

			</div>


			<div class="panel-body" id="gridHideNodata">
				<!--   START table-responsive -->
				<div id="gridAdjustHeight" class="panel panel-default">
					<div class="tableHeader">
						<p class="text-center">Make</p>
						<p class="text-center">Model</p>
						<p class="text-center">
							Water used<span class='notbold'> (G)</span>
						</p>
						<p class="text-center">
							Energy used<span class='notbold'> (kw)</span>
						</p>
						<p class="text-center">
							Wash cycle<span class='notbold'> (min)</span>
						</p>
						<p class="text-center">Wash cycles</p>
						<p class="text-center">
							Temperature<span class='notbold'> (f)</span>
						</p>
						<p class="text-center">
							Detergent used<span class='notbold'> (gms)</span>
						</p>
						<p class="text-center">
							Humidity<span class='notbold'> (%)</span>
						</p>
						<p class="text-center">
							Load<span class='notbold'> (kgs)</span>
						</p>
					</div>
					<div class="tbody">
						<div class="tableScroll">
							<table class="table table-condensed">

								<tbody id="tabody">
									<tr ng-repeat="itm in eng_griddata">
										<td class="text-center">{{itm.make}}</td>
										<td class="text-center">{{itm.model}}</td>
										<td class="text-center">{{itm.avgWaterUsage}}</td>
										<td class="text-center">{{itm.avgPowerUsage}}</td>
										<td class="text-center">{{itm.avgWashCycleDurationUsage}}</td>
										<td class="text-center">{{itm.avgWashCyclesUsage}}</td>
										<td class="text-center">{{itm.avgTemperatureUsage}}</td>
										<td class="text-center">{{itm.avgDetergentUsage}}</td>
										<td class="text-center">{{itm.avgHumidityUsage}}</td>
										<td class="text-center">{{itm.avgLoadUsage}}</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>
				<!--      END table-responsive -->
				<label class="pull-right " ng-if="eng_griddata.length > 0">{{eng_griddata.length}}
					records found</label>
			</div>
		</div>
		<!--   END panel -->
	</div>
	<!-- END dashboard main content-->
	<!-- START dashboard sidebar-->
	<!--  <aside class="col-lg-4"  style=" width: 374px; "> -->

	<!-- START dashboard sidebar-->
	<aside class="col-lg-4" style="">

		<!-- START messages and activity-->
		<div class="panel panel-default" style="width: 450px; height: 355px">
			<div class="panel-heading">
				<div class="panel-title md-body-2"
					style="font-family: Roboto; font-size: 15px;">
					Notification<img class="pull-right col-md-1"
						style="padding: 0px; height: 15px; width: 15px;"
						src="app/img/Dashboardassets/help.png">
				</div>

			</div>

			<div style="width: 450px; height: 325px; overflow-y: scroll"
				class="panel panel-default">
				<!-- START list group-->
				<div class="list-group">
					<!-- START list group item-->
					<div class="list-group-item">
						<div class="media-box" ng-controller="notificationController"
							ng-init="getSpikesOfSpecificErrors()">
							<div class="media-box-heading" ng-show="data.length">
								<h4>Spike in number of specific errors</h4>
							</div>
							<div class="media-box-body clearfix" ng-repeat="itm in data"
								ng-show="data.length">
								<p class="text-warning m0">Errors are increased by
									{{(itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100
									| number:0}}% in last 4 weeks</p>
								<div
									ng-if="(itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100 > spikeBySpecificErrorsTolerance">
									<small class="text-pink pull-right ml">{{(itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100
										| number:0}}%</small> <br>
									<progressbar
										value="(itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100"
										type="pink" class="progress-xs m0" style=" height: 10px;"
										data-toggle="popover" data-placement="top" data-html="true"
										data-content="Spike: {{(itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100 - spikeBySpecificErrorsTolerance}}% greater than tolerance"
										data-trigger="hover"></progressbar>
									<br>
								</div>
								<div
									ng-if="(itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100 <= spikeBySpecificErrorsTolerance">
									<small class="text-greens pull-right ml">{{(itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100
										| number:0}}%</small> <br>
									<progressbar
										value="(itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100"
										type="greens" class="progress-xs m0" style=" height: 10px;"
										data-toggle="popover" data-placement="top" data-html="true"
										data-content="Spike: {{spikeBySpecificErrorsTolerance - (itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100}}% less than tolerance"
										data-trigger="hover"></progressbar>
									<br>
								</div>
							</div>
						</div>
					</div>

					<div class="list-group-item">
						<div class="media-box" ng-controller="notificationController"
							ng-init="getSpikesByMakeModel()">
							<div class="media-box-heading" ng-show="data.length">
								<h4>Spike in number of specific errors by make, model</h4>
							</div>
							<div class="media-box-body clearfix" ng-repeat="itm in data"
								ng-show="data.length">
								<p class="text-warning m0">{{itm.error_type}} related errors
									are increased by
									{{(itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100
									| number:0}}% for {{itm.make}} - {{itm.model}} in last 4 weeks</p>
								<div
									ng-if="((itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100) > spikeBySpecificErrorByMakeModelTolerance">
									<small class="text-pink pull-right ml">{{(itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100
										| number:0}}%</small> <br>
									<progressbar
										value="(itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100"
										type="pink" class="progress-xs m0" style=" height: 10px;"
										data-toggle="popover" data-placement="top" data-html="true"
										data-content="Make: {{itm.make}} <br>
								Model: {{itm.model}} <br> Spike: {{(itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100 - spikeBySpecificErrorByMakeModelTolerance | number:0}}% greater than tolerance"
										data-trigger="hover"></progressbar>
									<br>
								</div>
								<div
									ng-if="((itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100) <= spikeBySpecificErrorByMakeModelTolerance">
									<small class="text-greens pull-right ml">{{(itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100
										| number:0}}%</small> <br>
									<progressbar
										value="(itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100"
										type="greens" class="progress-xs m0" style=" height: 10px;"
										data-toggle="popover" data-placement="top" data-html="true"
										data-content="Make: {{itm.make}} <br>
								Model: {{itm.model}} <br> Spike: {{spikeBySpecificErrorByMakeModelTolerance - (itm.current_error_count-itm.previous_error_count)/itm.previous_error_count*100}}% less than tolerance"
										data-trigger="hover"></progressbar>
									<br>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
		<!-- END messages and activity-->
	</aside>
	<!-- END dashboard sidebar-->


	<!-- END messages and activity-->
	</aside>
	<!-- END dashboard sidebar-->
</div>
</div>
</div>
