<h3 style="padding-top: 20px; padding-bottom: 10px; margin-bottom: 0px">
	<link href="css/charts.css" rel="stylesheet" />
	<!-- START Language list-->

	<!-- END Language list    -->

	<div class="pull-right" >
  

      Application Dashboard Last Updated {{currentDate}}
   </div>

	<div id="dashboardNav" ng-controller="MyviewController">
		<a ng-click="getUrl()"
			style="font-size: 14px; font: Roboto Light; color: #0F64BC;">Washing
			Machine Monitor System </a> <span
			style="font-size: 14px; font: Roboto; color: #222222; padding-left: 15px; padding-right: 15px;">
			></span>
			<a ng-click="loadTwitterInsights()" ng-if="showTwitterInsightsLink"
			style="font-size: 14px; font: Roboto Light; color: #0F64BC;">
			Twitter Insights</a>
			<span ng-if="showTwitterInsightsLink"
			style="font-size: 14px; font: Roboto; color: #222222; padding-left: 15px; padding-right: 15px;">
			></span>
			Notification Configuration
	</div>


</h3>

<div class="row col-lg-12  filter-filterDiv" style="position: absolute;z-index: 99;" >





	<div  class=" col-lg-12"  id="filterDivId" style=" margin-left: inherit">

		<div class="col-lg-12 filterItem notificationHeader">

			Notification Configuration

		</div>


	</div>



</div>




<div class="notificationContainer">

		<!-- START Twitter Insights Chart -->
		<div class="notificationTitleDiv">
			Set up notification tolerances
		</div>

		<!-- END Twitter Insights Chart -->





		<!-- START Eng Manager Contents -->

		<div class="notificationBodyDiv" ng-if="isEngManager">
			<div class="row" style="padding-left: 10px; padding-top: 20px;">
			<div class="col-lg-5">
					Make
				</div>
				<div class="col-lg-2">
				<select name="" class="form-control" ng-model="search.selectedMake" ng-change="selectedMake()">
				<option class="option-text-style" value="" disabled selected>Select Make
				<option class="option-text-style" ng-repeat="make in makes"
						value={{make.name}}>{{make.name}}</option>
				</select>
				</div>
				<div class="col-lg-5">

				</div>
				<div class="col-lg-12">&nbsp;</div>
				<div class="col-lg-5">
					Model
				</div>
				<div class="col-lg-2">
				<select name="" class="form-control" ng-model="search.selectedModel"  ng-change="selectedModel()">
				<option class="option-text-style" value="" disabled selected>Select Model
				<option class="option-text-style" ng-repeat="model in models"
						value={{model.model}}>{{model.model}}</option>
				</select>
				</div>
				<div class="col-lg-5">

				</div>
				<div class="col-lg-12">&nbsp;</div>
				<div class="col-lg-5">
					Show notification when number of wash errors increase by (x%) in last 4 weeks
				</div>
				<div class="col-lg-2">
					<select class="form-control"
						ng-model="errorInc.value">
						<option class="option-text-style" value="" disabled selected>Select Error
						<option class="option-text-style" ng-repeat="errorInc in washErrors"
							value={{errorInc.value}}>{{errorInc.value}}</option>
					</select>
				</div>
				<div class="col-lg-5">

				</div>
				<div class="col-lg-12">&nbsp;</div>
				<div class="col-lg-5">
					Show notification when number of wash errors decrease by (x%) in last 4 weeks
				</div>
				<div class="col-lg-2">
					<select class="form-control"
						ng-model="errorDec.value">
						<option class="option-text-style" value="" disabled selected>Select Error
						<option class="option-text-style" ng-repeat="errorDec in washErrors"
							value={{errorDec.value}}>{{errorDec.value}}</option>
					</select>
				</div>
				<div class="col-lg-5">

				</div>
			</div>

			<div style="width:95%; position: absolute; bottom: 30px; text-align: right;">
				<button type="button" class="mb-sm btn btn-primary searchbtn" ng-click="saveNotificationConfig()">Save</button>
        		<button type="button" class="mb-sm btn btn-primary searchbtn" ng-click="cancelNotificationConfig()">Cancel</button>
        	</div>

		</div>

		<!-- END Eng Manager Contents -->



		<!-- START Mar Manager Contents -->
		<div class="notificationBodyDiv" ng-if="!isEngManager">
			<div class="row" style="padding-left: 10px; padding-top: 20px;">
				<div class="col-lg-6">
					Show notification when Twitter negative sentiment score is more by (x%) for baseline value (y%)
				</div>
				<div class="col-lg-2">
					<select class="form-control" ng-model="notificationConfig.selectedNegativeScore">
						<option class="option-text-style" value="" disabled selected>Score
						<option class="option-text-style" ng-repeat="score in scores"
							value={{score.value}}>{{score.value}}</option>
					</select>
				</div>
				<div class="col-lg-2">
					<select class="form-control" ng-model="notificationConfig.selectedNegativeBaseline">
						<option class="option-text-style" value="" disabled selected>Baseline
						<option class="option-text-style" ng-repeat="baseline in baselines"
							value={{baseline.value}}>{{baseline.value}}</option>
					</select>
				</div>
				<div class="col-lg-2"></div>

				<div class="col-lg-12">&nbsp;</div>
				<div class="col-lg-6">
					Show notification when Twitter positive sentiment score is more by (x%) for baseline value (y%)
				</div>
				<div class="col-lg-2">
					<select class="form-control" ng-model="notificationConfig.selectedPositiveScore">
						<option class="option-text-style" value="" disabled selected>Score
						<option class="option-text-style" ng-repeat="score in scores"
							value={{score.value}}>{{score.value}}</option>
					</select>
				</div>
				<div class="col-lg-2">
					<select class="form-control" ng-model="notificationConfig.selectedPositiveBaseline">
						<option class="option-text-style" value="" disabled selected>Baseline
						<option class="option-text-style" ng-repeat="baseline in baselines"
							value={{baseline.value}}>{{baseline.value}}</option>
					</select>
				</div>
				<div class="col-lg-2">

				</div>
				<div class="col-lg-12">&nbsp;</div>
				<div class="col-lg-6">
					Show notification when connected washing machines are increased by (x%) in last 4 weeks
				</div>
				<div class="col-lg-2">
					<select class="form-control"
						ng-model="notificationConfig.selectedIncreasedTolernce">
						<option class="option-text-style" value="" disabled selected>Tolernce
						<option class="option-text-style" ng-repeat="tolernce in tolernces"
							value={{tolernce.value}}>{{tolernce.value}}</option>
					</select>
				</div>
				<div class="col-lg-4">

				</div>
				<div class="col-lg-12">&nbsp;</div>
				<div class="col-lg-6">
					Show notification when connected washing machines are lower by (x%) in last 4 weeks
				</div>
				<div class="col-lg-2">
					<select class="form-control"
						ng-model="notificationConfig.selectedLowerTolernce">
						<option class="option-text-style" value="" disabled selected>Tolernce
						<option class="option-text-style" ng-repeat="tolernce in tolernces"
							value={{tolernce.value}}>{{tolernce.value}}</option>
					</select>
				</div>
				<div class="col-lg-4">

				</div>
			</div>

			<div style="width:95%; position: absolute; bottom: 30px; text-align: right">
				<button type="button" class="mb-sm btn btn-primary searchbtn" ng-click="saveNotificationConfig()">Save</button>
        		<button type="button" class="mb-sm btn btn-primary searchbtn" ng-click="cancelNotificationConfig()">Cancel</button>
        	</div>
		</div>

		<!-- END Mar Manager Contents -->


</div>
