<!--  <style type="text/css">
  .datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px; }


 </style> -->
<h3 style="padding-top: 20px; padding-bottom: 10px">
 <div class="pull-right" ng-controller="DashboardController" >   
      Application Dashboard Last Updated {{currentDate}}
   </div>
  
  <div id="dashboardNav" ng-controller="reportController" >
    <a ng-click="openReport()"
      style="font-size: 14px; font: Roboto Light; color: #0F64BC;">Washing
      Machine Monitor System </a> <span
      style="font-size: 14px; font: Roboto; color: #222222; padding-left: 15px; padding-right: 15px;">
      ></span> <a href="#"
      style="font-size: 14px; font: Roboto Light; color: #222222">
      Reports </a>
  </div>
  
</h3>

   
<div class="row"  >
  
   

<!-- <div class="panel panel-default" style="padding-bottom:10px; padding-top:10px; background-color: #E7EEF6;">-->
   
   <!-- <div class="panel-body" style="padding: 0px;"> -->
     <!--  <form role="form" class="form-inline"> -->
          <!-- <fieldset class="last-child" style="padding-bottom: 0px; margin-bottom:0px "> --> 
            
            
            
            <div class="form-group filter-filterDiv col-lg-12" style=" width: 100% auto; margin-top: -20px; margin-left:0px;" id="filterDivId" ng-controller="DashboardController">
              
               <div class="col-lg-2 filterItem" style="max-width: 200px; margin-left:15px; padding-right: 0px; padding-left:0px;"  >
                  <select name="" class="form-control filter-selectStyle"   ng-model="region.states" ng-change="selectCities()"   >
                  <option class="option-text-style" value="" disabled selected>States
                    <option class="option-text-style" value="" >All
                     <option class="option-text-style" ng-repeat="state in states"   value={{state.name}}>{{state.name}}</option> 
                  </select>
                   
                                   
               </div>
               <!-- <div class="col-sm-1" style="padding-left: 3px;">
               </div> -->
               <div class="col-lg-2 filterItem" style="max-width: 200px;margin-left:15px !important ; padding-right: 0px; padding-left:0px;" >
                  <select name="" class="form-control filter-selectStyle"  ng-model="region.cities" ng-change="selectZip()"  >
                    <option class="option-text-style" value="" disabled selected>Cities
                    <option class="option-text-style" value="" >All 
                              <option class="option-text-style" ng-repeat="city in cities" value={{city.city}} >{{city.city}}
                              <!--<option class="option-text-style" value="" >San Diego
                              <option class="option-text-style" value="" >San Jose -->
                  </select>
                                   
               </div>
              
               
              
              
                <div class="col-lg-2 filterItem" style="max-width: 150px;  margin-left:15px !important ; padding-right: 0px; padding-left:50px; padding-top:10px;">
                  From
              </div>
              
                   <div class="col-lg-2 filterItem" style="max-width: 150px;  margin-left:15px !important ; padding-right: 0px; padding-left:0px; ">
                  <md-datepicker class=" filter-selectStyle" style="padding-top:0; height:35px;" ng-model="myDate"> </md-datepicker>
              </div>
               <div class="col-lg-2 filterItem" style="max-width: 150px;  margin-left:15px !important ; padding-right: 0px; padding-left:80px; padding-top:10px;">
                  To
              </div>
               
                <div class="col-lg-2 filterItem" style="max-width: 150px;margin-left:15px !important ; padding-right: 0px; padding-left:0px; padding-bottom:10px;">
                
                <md-datepicker  class=" filter-selectStyle" style="padding-top:0px; height:35px;" ng-model="myDate1" > </md-datepicker>
                
             </div>
            

               <!-- <div class="col-sm-1" style="padding-left: 3px;">
               </div> -->
              
               
             <div class="col-lg-1 " style="    margin-left: 310px;padding: 0px;" >
                <button ng-disabled="isDisabled" class="btn btn-default pull-right "  style="min-width: 114px; ;background-color: #4C74E2;  height:34px;  font-family: Roboto; font-size: 15px;     margin: auto;
                            margin-left: 15px;   color: #FFFFFF;" id="applyFilter" ng-click="tryit()">
                <span ng-show="test"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                {{searchButtonText}}</button>         
                
        </div>
               
               
               
           
            </div>
               
        <!-- </fieldset> -->

          <div class="col-lg-12" style=" width: 100%; margin-top: -17px; margin-left:-14px;"> 
      <!-- START panel -->
  
     <!--  <div class="panel panel-default"  id="gridNormal"> -->
        <!--  <div class="panel-heading md-body-2" style="font-family: Roboto; font-size: 15px; padding-left: 20px; padding-top:10px; "><b>Washing Machines Status Reports</b>  
          <img id="gridMaxImg" class="pull-right col-md-1" style="padding:0px; height: 15px; width: 15px; ;" src="app/img/Dashboardassets/help.png" ng-click="maximizeGrid()"></img>
        </div> -->
      
       
         <div class="panel-body " id="gridHideNodata" ng-controller="reportController" ng-if="!isEngManager">
          <!--   START table-responsive -->
            <div id="gridAdjustHeight" class="panel panel-default" style="height:auto;">
             <table  class="table table-striped table-bordered table-hover" border=0 id="pagination">  
                 <tr>
                    <strong> <div style="height:30px; padding-top:5px; padding-left:10px;"> Washing Machine Status Reports </div></strong>
                   

          </tr>
          <div class="tbody">
          
                  <thead class="md-body-2" style="font-family: Roboto; font-size: 15px;" >
                    
                 
                        <tr>
                       <th style="text-align: center"> Make  <select id="dropdown"></select></th> 
                        <th style="text-align: center">Model <select id="dropdown"></select> </th>
                        <th style="text-align: center">Total Loads <select id="dropdown"></select> </th>
                        <th style="text-align:center">Most Popular Wash Day <select id="dropdown"></select> </th>
                        <th style="text-align: center">Most Popular Time of Day <select id="dropdown"></select> </th>

                     </tr>
                  
                  
                  </thead>
                  
                  <tbody id="tabody">
                      <tr ng-repeat="itm in r_griddata">
                      <!-- <tr ng-repeat="itm in r_griddata | startFrom:currentPage*pageSize | limitTo:pageSize"> -->
                        <td style="text-align:center">{{itm.make}}</td>
                        <td style="text-align:center">{{itm.model}}</td>
                        <td style="text-align:center">{{itm.totalLoad}}</td>
                        <td style="text-align:center">{{itm.popularDay}}</td>
                        <td style="text-align:center">{{itm.popularTime}}</td>

                     </tr>
                    
                 </tbody>

               </table>
               
            </div>
            <!--pagination-->
            <!-- <div class="pull-right">
                  <button ng-disabled="currentPage == 0">  <   </button>
                  <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage"> 1  </button>
                  <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1"> 2 </button>
                  <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1"> 3 </button>
                  <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage+1"> > </button>
            </div> -->
            <!--End pagination-->

            <!-- </div> -->
       <!--      END table-responsive -->
         <!-- <label  class="pull-right " ng-if="griddata.length > 0">{{griddata.length}} records found</label> -->
       <!--   </div> -->


           
      
    <!--   END panel -->
    </div>
    <button type="button"  class="mb-sm btn btn-primary searchbtn" style="margin-left:14px;" ng-click="downloadReport()" ng-if="!isEngManager">Download Report 
        </button>
    
      </div> 

 <!--     </div>  -->


 <!-- for Eng mgr-->
         <div class="panel-body" id="gridHideNodata" ng-controller="reportController" ng-if="isEngManager">
          <!--   START table-responsive -->
            <h4 style="text-align:center">No Records Available</h4>
       <!--      END table-responsive -->
         
         </div>

         
         </div>
       