<div class="somediv hidden" id="hiddenDiv"></div>
<div class="chart-somediv hidden" id="hiddenDiv" ></div>
<h3 style="padding-top: 20px; padding-bottom: 10px">
   <!-- START Language list-->
   
   <!-- END Language list    -->
  
   <a href="#"  style="font-size:14px;font:Roboto Light; color: #0F64BC ; " >Washing Machine Monitor System </a> <span style="font-size:14px;font:Roboto; color: #222222 ; padding-left: 15px; padding-right: 15px;" > ></span>  <a href="#" style="font-size:14px;font:Roboto Light; color: #222222 ">   Dashboard</a>
  
</h3>



<div class="row"  >

<!-- <div class="panel panel-default" style="padding-bottom:10px; padding-top:10px; background-color: #E7EEF6;">-->
   
   <!-- <div class="panel-body" style="padding: 0px;"> -->
     <!--  <form role="form" class="form-inline"> -->
          <!-- <fieldset class="last-child" style="padding-bottom: 0px; margin-bottom:0px "> --> 
            
            
            
            <div class="form-group filter-filterDiv col-lg-12" style=" width:1287px;" id="filterDivId" >
              
               <div class="col-lg-2" style="max-width: 150px; margin-left:22px; padding-right: 0px; padding-left:0px;"  >
                  <select name="" class="form-control filter-selectStyle"   ng-model="region.states" ng-change="selectCities()"   >
                  <option class="option-text-style" value="" disabled selected>States
                    <option class="option-text-style" value="" >All States
                     <option class="option-text-style" ng-repeat="state in states"   value={{state.name}}>{{state.name}}</option> 
                  </select>
                    <!--  <option class="option-text-style" value="" disabled selected>States
						<option class="option-text-style" value="Arizona" >Arizona
						<option class="option-text-style" value="California" >California
						<option class="option-text-style" value="Florida" >Florida
						<option class="option-text-style" value="New York" >New York
						<option class="option-text-style" value="Tennessee" >Tennessee
						<option class="option-text-style" value="Texas" >Texas
						<option class="option-text-style" value="Virginia" >Virginia
						<option class="option-text-style" value="Washington" >Washington
						<option class="option-text-style" value="Wisconsin" >Wisconsin -->
                                   
               </div>
               <!-- <div class="col-sm-1" style="padding-left: 3px;">
               </div> -->
               <div class="col-lg-2" style="max-width: 150px;margin-left:22px !important ; padding-right: 0px; padding-left:0px;">
                  <select name="" class="form-control filter-selectStyle"  ng-model="region.cities" ng-change="selectZip()"  >
                    <option class="option-text-style" value="" disabled selected>Cities
                    <option class="option-text-style" value="" >All Cities
					 <option class="option-text-style" ng-repeat="city in cities" value={{city.city}} >{{city.city}}
					<!--<option class="option-text-style" value="" >San Diego
					<option class="option-text-style" value="" >San Jose -->
                  </select>
                                   
               </div>
               <!-- <div class="col-sm-1" style="padding-left: 3px;" >
               </div> -->
               <div class="col-lg-2"  style="max-width: 150px;margin-left:22px !important ;padding-right: 0px; padding-left:0px;">
                  <select name="" class="form-control filter-selectStyle" ng-model="region.zip_codes" >
                 <option class="option-text-style" value="" disabled selected >Zip Code
                 <option class="option-text-style" value="" >All Zipcode
                     <option class="option-text-style" ng-repeat="zip in zips" value={{zip.zip_code}} >{{zip.zip_code}}
                     <!-- <option class="option-text-style" value="" disabled selected>Zip Code
					<option class="option-text-style" value="" >1001
					<option class="option-text-style" value="" >1001
					<option class="option-text-style" value="" >1001 -->
                  </select>
                                   
               </div>
               <!-- <div class="col-sm-1" style="padding-left: 3px;">
               </div> -->
                <div class="col-lg-2" style="max-width: 150px;margin-left:22px !important;padding-right: 0px; padding-left:0px;">
                  <select name="" class="form-control filter-selectStyle" ng-model="timescale.years" >
                    <option class="option-text-style" value=""  disabled selected >Year
					<option class="option-text-style" ng-repeat="sales_year in sales_years" value={{sales_year.year}} >{{sales_year.year}}
                  </select>
                                   
               </div>
               <!-- <div class="col-sm-1" style="padding-left: 3px;">
               </div> -->
               <div class="col-lg-2" style="max-width: 150px;margin-left:22px !important;padding-right: 0px; padding-left:0px;">
                  <select name="" class="form-control filter-selectStyle" ng-model="timescale.quarters" ng-change="quarterMonths()">
                    <option class="option-text-style" value="" selected disabled>Quarter
                    <option class="option-text-style" ng-repeat="quarter in quarters" value={{quarter.id}} >{{quarter.value}}
					
                  </select>
                                   
               </div>
               <!-- <div class="col-sm-1" style="padding-left: 3px;">
               </div> -->
               <div class="col-lg-2" style="max-width: 150px;margin-left:22px !important;padding-right: 0px; padding-left:0px;">
                  <select name="" class="form-control filter-selectStyle" ng-model="timescale.months">
                   <option class="option-text-style" value="" selected disabled>Month
                   <option class="option-text-style" ng-repeat="month in months" value={{month.id}} >{{month.value}}
					
                  </select>
                                   
               </div>
               
             	<div class="col-lg-1 " style="max-width: 114px;margin-left:22px !important padding-left:0px;">
             		<button class="btn btn-default"  style="min-width: 114px; ;background-color: #91AED3;  height:34px;  font-family: Roboto; font-size: 15px;    color: #FFFFFF;    " id="applyFilter" ng-click="tryit()">Apply Filter</button>
             		
				</div>
               
               
               
           
            </div>
               
        <!-- </fieldset> -->
       
     </div>      
         
      <!-- </form>    -->
   <!-- </div> -->






<div class="row"  >
   <!-- START dashboard main content-->
   
  
   <div class="col-lg-4 " ng-controller="myController" ng-init="plotChartFunction('container')">
     <div class="chart-chartDiv" id="chartParent">
		<div class="chart-filterDiv " id="chartFilterDivId">
			<select class="chart-selectStyle col-md-4 " style="padding-right: 0px; padding-left: 3px;">
				<option class="chart-option-text-style" value="">Top 3 models
				<option class="chart-option-text-style" value="">Sold vs Connected
			</select> <select class="chart-selectStyle col-md-3 chart-border "
				style="padding-right: 0px; padding-left: 3px;">
				<option class="chart-option-text-style" value="">Last 1 day
				<option class="chart-option-text-style" value="" selected>Last 7 days
				<option class="chart-option-text-style" value="">Last 30 days
				<option class="chart-option-text-style" value="">Last 3 months
				<option class="chart-option-text-style" value="">Last 6 months
				<option class="chart-option-text-style" value="">Last 1 year
				<option class="chart-option-text-style" value="">Last 3 years
			</select> <select class="chart-selectStyle col-md-4 "
				style="padding-right: 0px; padding-left: 3px;">
				<option class="chart-option-text-style" value="">Line Chart
				<option class="chart-option-text-style" value="">Bar Chart
				<option class="chart-option-text-style" value="">Pie Chart
			</select> 
			<img id="maximize" class=" col-md-1 image-margin image-size pull-right" src="app/img/Dashboardassets/icon_maximize.png" ng-click="maximize()">
			<img id="close" class=" col-md-1 image-margin close-image-size hidden pull-right" src="app/img/Dashboardassets/close.png" ng-click="closing()">
		</div>
		<div id="container" class="graphDiv"></div>
	</div>
	
	</div>
	
	<div class="col-lg-4 map-mapDiv">
     <!-- START widget-->
	    <div id="show-transparent" class="map-mapDiv showhim">
			<div id="googleMap"  class="map-mapDiv"></div>
			<div class="semi-transparent-div showme" id="trn-div">
				<img src="app/img/Dashboardassets/icon_maximize.png" class="pull-right image-position"  id="maximize">
			</div>
			
			<script type="text/javascript">

 	$(function(){var map;
    function initialize(mapstate,divId) {
        if(divId=="" || typeof(divId)=="undefined"){
            divId="googleMap";
        }
        var myOptions = {
        		center:new google.maps.LatLng(42.6526, -73.7562),
        	    zoom:5,
        	    mapTypeId:google.maps.MapTypeId.ROADMAP,
        };
        map = new window.google.maps.Map(document.getElementById(divId), myOptions);

        var locations = [
                         ['<b>Store Locator</b></br>'+ 
                    		'<b>Capital: </b> Sacramento </br>'+
                    		'<b>Dialing: </b> code +1 </br>'+
                    		'<b>ISO Code: </b> USA </br>'+
                    		'<b>States: </b>California <img src="app/img/Dashboardassets/map_direction.png" > </br>', 38.5816, -121.4944, 4],
                         ['<b>Store Locator</b></br>'+ 
                    		'<b>Capital: </b> Honolulu </br>'+
                    		'<b>Dialing: </b> code +1 </br>'+
                    		'<b>ISO Code: </b> USA </br>'+
                    		'<b>States: </b>Hawaii <img src="app/img/Dashboardassets/map_direction.png" > </br>', 21.3069, -157.8583, 5],
                         ['<b>Store Locator</b></br>'+ 
                    		'<b>Capital: </b> Boston </br>'+
                    		'<b>Dialing: </b> code +1 </br>'+
                    		'<b>ISO Code: </b> USA </br>'+
                    		'<b>States: </b>Massachusetts <img src="app/img/Dashboardassets/map_direction.png" > </br>', 42.3601, -71.0589, 3],
                         ['<b>Store Locator</b></br>'+ 
                    		'<b>Capital: </b> Jackson  </br>'+
                    		'<b>Dialing: </b> code +1 </br>'+
                    		'<b>ISO Code: </b> USA </br>'+
                    		'<b>States: </b>Mississippi <img src="app/img/Dashboardassets/map_direction.png" > </br>', 32.2988, -90.1848, 2],
                         ['<b>Store Locator</b></br>'+ 
                    		'<b>Capital: </b>  	Albany  </br>'+
                    		'<b>Dialing: </b> code +1 </br>'+
                    		'<b>ISO Code: </b> USA </br>'+
                    		'<b>States: </b>New York <img src="app/img/Dashboardassets/map_direction.png" > </br>', 42.6526, -73.7562, 1]
                       ];

        var infowindow = new google.maps.InfoWindow();
        var marker, i;

        for (i = 0; i < locations.length; i++) { 
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            icon: 'app/img/Dashboardassets/circle_0'+(i+1)+'.png',
            map: map
          });

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
              }
            })(marker, i));
        }
        var homeControlDiv = document.createElement("div");
        var homeControl = new RenderButton (homeControlDiv, map,mapstate);
        homeControlDiv.index = 1;
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(homeControlDiv);
    }

//Following code is used to set the map maximize and minimize button
    function RenderButton(controlDiv, map,mapstate) {
        // Set CSS styles for the DIV containing the control
        // Setting padding to 5 px will offset the control
        // from the edge of the map
        controlDiv.style.padding = "5px";
        // Set CSS for the control border
		var controlUI = document.createElement("div");
		var image = document.createElement("img");
		/* if(mapstate=="Maximize")
			image.src='images/icon_maximize.png';
		else */ if(mapstate=="Minimize")
					image.src='app/img/Dashboardassets/close.png';
        /* controlUI.style.backgroundColor = "white";
        controlUI.style.borderStyle = "solid";
        controlUI.style.borderWidth = "2px";
        controlUI.style.cursor = "pointer";
        controlUI.style.textAlign = "center";
        controlUI.title = "Click to set the map to Home"; */
        image.title = "Click to set the map to Home";
        
         controlDiv.appendChild(controlUI); 
        controlDiv.appendChild(image);
        
        // Set CSS for the control interior
        var controlText = document.createElement("div");
        controlText.style.fontFamily = "Arial,sans-serif";
        controlText.style.fontSize = "12px";
        controlText.style.paddingLeft = "4px";
        controlText.style.paddingRight = "4px";
        controlText.style.display='none';
        //if(no==0)
        controlText.innerHTML = mapstate;
        controlUI.appendChild(controlText);

        $("body").on("click",".semi-transparent-div #maximize", function(){
            
        	fullscreen("hiddenDiv");
            controlText.innerHTML = "Minimize";
            google.maps.event.addDomListener(window, "load", initialize("Minimize","hiddenDiv"));
        });
        
        google.maps.event.addDomListener(image, "click", function() {
                if (controlText.innerHTML == "Maximize") {
                    
                    fullscreen("hiddenDiv");
                    controlText.innerHTML = "Minimize";
                    google.maps.event.addDomListener(window, "load", initialize("Minimize","hiddenDiv"));
                } else {
                    minscreen("googleMap");
                    controlText.innerHTML = "Maximize";
                    google.maps.event.addDomListener(window, "load", initialize("Maximize","googleMap"));
                }
        });
    }
    google.maps.event.addDomListener(window, "load", initialize("Maximize","googleMap"));
//You can configure full screen and min screen implementation in some function like this,
	function fullscreen(divId) {
		var elem = $("#"+divId);
	        elem.addClass("somediv");
	        elem.removeClass("hidden");
	    }
	    function minscreen(divId) {
	        var elem = $("#"+divId);
	        $("#hiddenDiv").empty();
	        $("#hiddenDiv").addClass("hidden");
	        elem.addClass("map-mapDiv");
	     
	    }
	    
});

 	function tp(){
		alert("tp");
 	 	}

 	</script>
		</div>
		
		      <!-- END widget-->
 	
   </div>
   
 <div class="col-lg-4" style=" width: 374px; height:373px " >
      <div class="panel panel-default" style=" width: 374px; height:373px " >
         <div class="panel-heading">
            <div class="pull-right "><img class="col-md-1" style="padding:0px; height: 15px; width: 15px; ;" src="app/img/Dashboardassets/help.png"></img></div>
            <div class="pull-right " style="padding-right: 10px; padding-top:-5px; padding-left: 3px; padding-bottom:10px ">
            
            <select  name="Days"
				style=" width: 70px; background-color: transparent;   border: none">
				<option class="chart-option-text-style" value="" selected="selected">Today
				<option class="chart-option-text-style" value="">Last 1 day
				<option class="chart-option-text-style" value="">Last 7 days
				<option class="chart-option-text-style" value="">Last 30 days
				<option class="chart-option-text-style" value="">Last 3 months
				<option class="chart-option-text-style" value="">Last 6 months
				<option class="chart-option-text-style" value="">Last 1 year
				<option class="chart-option-text-style" value="">Last 3 years
			</select>
            
            </div>
            <div class="panel-title" style="font-family: Roboto; Medium; font-size: 15px;">Insights</div>
         </div>
         <!-- START list group-->
         <scrollable height="230"  class="list-group"   ng-controller="InfiniteScrollController">
            <!-- START list group item-->
            
            <div infinite-scroll="loadMore()" infinite-scroll-distance="1" >
            <div ng-repeat="image in images" >
            <a href="#" class="list-group-item">
               <div class="media-box" style="height: 90px" >
                  <div class="pull-left " >
                    <!--  <img src="app/img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32" /> -->
                  		
      
				         <div class=" alert-warning media-box-object img-circle thumb32 text-center">
				            <h2 class="mv-lg">{{image}}</h2>
				        
				         </div>
				  
                  
                  </div>
                  <div class="media-box-body clearfix">
                     <small class="pull-right">4m ago</small>
                     <strong class="media-box-heading text-primary">
                        <span class="circle circle-success circle-lg text-left"></span>The AVG wash</strong>
                     <p class="mb-sm">
                        <small>The avg wash cycle run time for selected make/type in more by 20% in  selected geographic. </small>
                    	 <img class="pull-right col-md-1" style="padding-top:10px; width: auto;height: auto ;" src="app/img/Dashboardassets/more.png">
                  
                    
                     </p>
					</div>
               </div>
            </a>
            <!-- END list group item-->
            <!-- START list group item-->
          
            </div>
            </div>
         </scrollable>
         <!-- END list group-->
        
      </div>
   </div>
   <!-- END dashboard sidebar-->
   
   </div>
   
   
   
 

<div class="row" style="padding-top: 20px"    >

   <!-- START dashboard main content-->
 



   
   <div class="col-lg-8"   >
      <!-- START panel -->
   
      <div class="panel panel-default" style="  height: 240px; ">
         <div class="panel-heading">Washing Machines status    <img class="pull-right col-md-1" style="padding:0px; height: 15px; width: 15px; ;" src="app/img/Dashboardassets/help.png"></img></div>
      
       
         <div class="panel-body">
          <!--   START table-responsive -->
            <div class="table-responsive scrollit">
               <table  class="table table-striped table-bordered table-hover">
                  <thead  >
                    
                 
                  	<tr>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Total Load</th>
                        <th>Popular Day</th>
                        <th>Popular Time</th>
                     </tr>
                  
                  
                  </thead>
                  <tbody>
                      <tr ng-repeat="itm in griddata">
                        <td>{{itm.make}}</td>
                        <td>{{itm.model}}</td>
                        <td>{{itm.totalLoad}}</td>
                        <td>{{itm.popularDay}}</td>
                        <td>{{itm.popularTime}}</td>
                     </tr>
                    
                 </tbody>
               </table>
            </div>
       <!--      END table-responsive -->
         </div>
      </div>
    <!--   END panel -->
   </div> 
   <!-- END dashboard main content-->
   <!-- START dashboard sidebar-->
  <!--  <aside class="col-lg-4"  style=" width: 374px; "> -->
  
  <!-- START dashboard sidebar-->
   <aside class="col-lg-4" style="">
     
      <!-- START messages and activity-->
      <div class="panel panel-default" style="width: 374px; height: 240px; ">
         <div class="panel-heading">
            <div class="panel-title">Notification<img class="pull-right col-md-1" style="padding:0px; height: 15px; width: 15px; ;" src="app/img/Dashboardassets/help.png"></div>
            
         </div>
         
         <!-- START list group-->
         <div class="list-group">
      <!-- START list group item-->
            <div class="list-group-item">
               <div class="media-box">
<!--                   <div class="pull-left"> -->
<!--                      <span class="fa-stack"> -->
<!--                         <em class="fa fa-circle fa-stack-2x text-warning"></em> -->
<!--                         <em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em> -->
<!--                      </span> -->
<!--                   </div> -->
                  <div class="media-box-body clearfix">
                     <small class="text-greens pull-right ml">40%</small>
                     <div class="media-box-heading"><a href="#" class="text-warning m0">Water used over a period of time</a>
                     </div>
<!--                      <progressbar value="22" type="warning" class="progress-xs m0"></progressbar> -->
                     <progressbar  value="40" type="greens" class="progress-xs m0"></progressbar>

                  </div>
               </div>
            </div>
            <!-- END list group item-->
             <!-- START list group item-->
            <div class="list-group-item">
               <div class="media-box">
<!--                   <div class="pull-left"> -->
<!--                      <span class="fa-stack"> -->
<!--                         <em class="fa fa-circle fa-stack-2x text-warning"></em> -->
<!--                         <em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em> -->
<!--                      </span> -->
<!--                   </div> -->
                  <div class="media-box-body clearfix">
                     <small class="text-pinks pull-right ml" >-80%</small>
                     <div class="media-box-heading"><a href="#" class="text-warning m0">Detergent used over a period of time</a>
                     </div>
                     <progressbar value="80" type="pink" class="progress-xs m0"></progressbar>
                  </div>
               </div>
            </div>
            <!-- END list group item-->
            <!-- START list group item-->
            <div class="list-group-item">
               <div class="media-box">
<!--                   <div class="pull-left"> -->
<!--                      <span class="fa-stack"> -->
<!--                         <em class="fa fa-circle fa-stack-2x text-warning"></em> -->
<!--                         <em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em> -->
<!--                      </span> -->
<!--                   </div> -->
                  <div class="media-box-body clearfix">
                     <small class="text-yellows pull-right ml">65%</small>
                     <div class="media-box-heading"><a href="#" class="text-warning m0">Structure warranty programs</a>
                     </div>
                     
                     <progressbar value="65" type="yellow" class="progress-xs m0"></progressbar>
                  </div>
               </div>
            </div>
            <!-- END list group item-->
         </div>
         <!-- END list group-->
         <!-- START panel footer-->
<!--          <div class="panel-footer clearfix"> -->
<!--             <a href="#" class="pull-left"> -->
<!--                <small>Load more</small> -->
<!--             </a> -->
<!--          </div> -->
         <!-- END panel-footer-->
      </div>
      <!-- END messages and activity-->
   </aside>
   <!-- END dashboard sidebar-->
     
      
      <!-- END messages and activity-->
   </aside>
   <!-- END dashboard sidebar-->
</div>
</div>
</div>