<div class="somediv hidden" id="hiddenDiv"></div>
<div class="chart-somediv hidden" id="hiddenDiv" ></div>
<div class="hidden gridMaximize" id="gridMax"></div>
<h3 style="padding-top: 20px; padding-bottom: 10px">
   <link href="app/css/charts.css" rel="stylesheet"/>
   <!-- START Language list-->
   
   <!-- END Language list    -->
  
  <div class="pull-right" >
    <style>
 		#dropdown{
         	color: blue;
         	border:0;
         	  } 
		
   </style>
      
      Application Dashboard Last Updated May 10, 2016, 3:26:26 PM
   </div>
  
   <a href="#"  style="font-size:14px;font:Roboto Light; color: #0F64BC ; " >Washing Machine Monitor System </a> <span style="font-size:14px;font:Roboto; color: #222222 ; padding-left: 15px; padding-right: 15px;" > ></span>  <a href="#" style="font-size:14px;font:Roboto Light; color: #222222 ">   Dashboard</a>
  
</h3>



<div class="row"  >

<!-- <div class="panel panel-default" style="padding-bottom:10px; padding-top:10px; background-color: #E7EEF6;">-->
   
   <!-- <div class="panel-body" style="padding: 0px;"> -->
     <!--  <form role="form" class="form-inline"> -->
          <!-- <fieldset class="last-child" style="padding-bottom: 0px; margin-bottom:0px "> --> 
            
            
            
            <div class="form-group filter-filterDiv col-lg-12" style=" width: 100% auto; " id="filterDivId" >
              
               <div class="col-lg-2" style="max-width: 150px; margin-left:22px; padding-right: 0px; padding-left:0px;"  >
                  <select name="" class="form-control filter-selectStyle"   ng-model="region.states" ng-change="selectCities()"   >
                  <option class="option-text-style" value="" disabled selected>States
                    <option class="option-text-style" value="" >All
                     <option class="option-text-style" ng-repeat="state in states"   value={{state.name}}>{{state.name}}</option> 
                  </select>
                    <!--  <option class="option-text-style" value="" disabled selected>States
						<option class="option-text-style" value="Arizona" >Arizona
						<option class="option-text-style" value="California" >California
						<option class="option-text-style" value="Florida" >Florida
						<option class="option-text-style" value="New York" >New York
						<option class="option-text-style" value="Tennessee" >Tennessee
						<option class="option-text-style" value="Texas" >Texas
						<option class="option-text-style" value="Virginia" >Virginia
						<option class="option-text-style" value="Washington" >Washington
						<option class="option-text-style" value="Wisconsin" >Wisconsin -->
                                   
               </div>
               <!-- <div class="col-sm-1" style="padding-left: 3px;">
               </div> -->
               <div class="col-lg-2" style="max-width: 150px;margin-left:22px !important ; padding-right: 0px; padding-left:0px;">
                  <select name="" class="form-control filter-selectStyle"  ng-model="region.cities" ng-change="selectZip()"  >
                    <option class="option-text-style" value="" disabled selected>Cities
                    <option class="option-text-style" value="" >All
					 <option class="option-text-style" ng-repeat="city in cities" value={{city.city}} >{{city.city}}
					<!--<option class="option-text-style" value="" >San Diego
					<option class="option-text-style" value="" >San Jose -->
                  </select>
                                   
               </div>
               <!-- <div class="col-sm-1" style="padding-left: 3px;" >
               </div> -->
               <div class="col-lg-2"  style="max-width: 150px;margin-left:22px !important ;padding-right: 0px; padding-left:0px;">
                  <select name="" class="form-control filter-selectStyle" ng-model="region.zip_codes" >
                 <option class="option-text-style" value="" disabled selected >Zip Code
                 <option class="option-text-style" value="" >All
                     <option class="option-text-style" ng-repeat="zip in zips" value={{zip.zip_code}} >{{zip.zip_code}}
                     <!-- <option class="option-text-style" value="" disabled selected>Zip Code
					<option class="option-text-style" value="" >1001
					<option class="option-text-style" value="" >1001
					<option class="option-text-style" value="" >1001 -->
                  </select>
                                   
               </div>
               <!-- <div class="col-sm-1" style="padding-left: 3px;">
               </div> -->
                <div class="col-lg-2" style="max-width: 150px;margin-left:22px !important;padding-right: 0px; padding-left:0px;">
                  <select name="" class="form-control filter-selectStyle" ng-model="timescale.years" >
                    <option class="option-text-style" value=""  disabled selected >Year
                      <option class="option-text-style" value="" >All
					<option class="option-text-style" ng-repeat="sales_year in sales_years" value={{sales_year.year}} >{{sales_year.year}}
                  </select>
                                   
               </div>
               <!-- <div class="col-sm-1" style="padding-left: 3px;">
               </div> -->
               <div class="col-lg-2" style="max-width: 150px;margin-left:22px !important;padding-right: 0px; padding-left:0px;">
                  <select name="" class="form-control filter-selectStyle" ng-model="timescale.quarters" ng-change="quarterMonths()">
                    <option class="option-text-style" value="" selected disabled>Quarter
                      <option class="option-text-style" value="" >All
                    <option class="option-text-style" ng-repeat="quarter in quarters" value={{quarter.id}} >{{quarter.value}}
					
                  </select>
                                   
               </div>
               <!-- <div class="col-sm-1" style="padding-left: 3px;">
               </div> -->
               <div class="col-lg-2" style="max-width: 150px;margin-left:22px !important;padding-right: 0px; padding-left:0px;">
                  <select name="" class="form-control filter-selectStyle" ng-model="timescale.months">
                   <option class="option-text-style" value="" selected disabled>Month
                     <option class="option-text-style" value="" >All
                   <option class="option-text-style" ng-repeat="month in months" value={{month.id}} >{{month.value}}
					
                  </select>
                                   
               </div>
               
             <div class="col-lg-1 " style="max-width: 114px;margin-left:22px !important padding-left:0px;">
             		<button ng-disabled="isDisabled" class="btn btn-default"  style="min-width: 114px; ;background-color: #4C74E2;  height:34px;  font-family: Roboto; font-size: 15px;    color: #FFFFFF;    " id="applyFilter" ng-click="tryit()">
                <span ng-show="test"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                {{searchButtonText}}</button>         
            		
				</div>
               
               
               
           
            </div>
               
        <!-- </fieldset> -->
       
     </div>      
         
      <!-- </form>    -->
   <!-- </div> -->



<div ng-controller="filterIconController" class="row form-group filter-filterDiv col-lg-12" style="width: 100% auto;height:62px;">
    <div ng-repeat="va in someArray" 
         style="height:26px;background:#91aed3;padding: 4px;margin:10px; display: inline-block;color:fff;border-radius:2px !important;font-size:11pt;"> {{va.value}} <span style="color:#fff;font-size:11pt;" ng-click='removeFilter(va)'>X</span></div>
</div>

<div class="row"  >
   <!-- START dashboard main content-->
   
  
   <div class="col-lg-4 " ng-controller="myController">
     <div class="chart-chartDiv" id="chartParent">
		<div class="chart-filterDiv " id="chartFilterDivId">
                                    <select id="first-chart-select" class="chart-selectStyle col-md-4 " ng-change="disp()" ng-model="selectedSales" style="padding-right: 0px; padding-left: 3px;margin-top: 2px">
                                                
                                                <option class="chart-option-text-style" disabled value="">Please select</option>
                                                <option class="chart-option-text-style"  ng-if="$index==0" ng-init="disp($index)"selected ng-repeat="sales in salesList track by $index" value="{{$index}}">{{sales.name}}</option>
                                               	<option class="chart-option-text-style"  ng-if="$index!=0" ng-repeat="sales in salesList track by $index" value="{{$index}}">{{sales.name}}</option>
                                    </select>
                                     <select id="second-chart-select" class="chart-selectStyle col-md-3 chart-border "
                                                style="padding-right: 0px; padding-left: 3px;margin-top: 2px">
                                                <option class="chart-option-text-style" selected value="">Last 1 day
                                                <option class="chart-option-text-style" value="" >Last 7 days
                                                <option class="chart-option-text-style" value="">Last 30 days
                                                <option class="chart-option-text-style" value="">Last 3 months
                                                <option class="chart-option-text-style" value="">Last 6 months
                                                <option class="chart-option-text-style" value="">Last 1 year
                                                <option class="chart-option-text-style" value="">Last 3 years
                                    </select> 
                                    <select id="third-chart-select" class="chart-selectStyle col-md-4 " ng-change="dispChart(selectedChart)" ng-model="selectedChart" style="padding-right: 0px; padding-left: 3px;margin-top: 2px">
                                             <option class="chart-option-text-style"  selected ng-init="dispChart(selectedChart)" ng-repeat="chart in chartTypes" value="{{chart}}">{{chart}}</option>
                                    </select> 
                                    <img id="maximize" class="pull-right col-md-1" style="padding:0px;   margin-top:10px;      margin-right: 9px; height: 15px; width: 15px; ;" src="app/img/Dashboardassets/icon_maximize.png" ng-click="maximize()"></img>
                                    <img id="close" class=" col-md-1 image-margin close-image-size hidden pull-right" src="app/img/Dashboardassets/close.png" ng-click="closing()">
                        </div>

	
		<div   ng-if="selectedChart=='Pie'" id="piecontainer"  class="graphDiv" ng-init="plotPieChart('piecontainer')"> <span ng-show="progress" class="progress-chart"><img alt="" src="app/img/icon-load.gif" width="25%";height="25%"> </span></div>
		<div ng-if="selectedChart=='Bar'"  class="graphDiv" id="bar" ng-init="plotBarChart('bar')">
		 <span ng-show="progress" class="progress-chart"><img alt="" src="app/img/icon-load.gif" width="25%";height="25%"> </span>
		
			<!-- <div class="row pull-right" style="margin-top: -60px;margin-right: 10px;">
				<div class="circle circle-color-sold" style="display: inline-block;"></div>&nbsp;&nbsp;<label class="chart-label">{{labels[0]}}</label> &nbsp;&nbsp;<div class="circle circle-color-connected" style="display: inline-block;"></div>&nbsp;&nbsp;<label class="chart-label">{{labels[1]}}</label>
			</div>
			
			<canvas  id="bar" class="chart chart-bar" chart-data="barData" chart-labels="barLabels" chart-series="barSeries"></canvas>  -->
		</div>
		<div ng-if="selectedChart=='Multiline'" id="container" class="graphDiv" ng-init="plotChartFunction('container')"> <span ng-show="progress" class="progress-chart"><img alt="" src="app/img/icon-load.gif" width="25%";height="25%"> </span></div>
	</div>
	
	</div>
	
	<div class="col-lg-4" ng-controller="mapController"  ng-init="plotMapFunction('map-container')">
	    <div class="panel panel-default" style="width: 100%; height: 373px">
	      <div id="map-container" class="map-mapDiv"  style="width: 100%; height: 368.5px"></div>
	    
	  </div> 
	</div>
   
 
 	<div class="col-lg-4" style="width: 374px; height: 373px">
		<div class="panel panel-default" style="width: 374px; height: 373px">
			<div class="panel-heading" style="background-color: #ffffff;">
				<div class="pull-right ">
					<img class="col-md-1" style="padding: 0px; height: 15px; width: 15px;"	src="app/img/Dashboardassets/help.png"></img>
				</div>

				<div class="panel-title md-body-2" style="font-family: Roboto; font-size: 15px;">Insights</div>
			</div>

			<scrollable height="230" class="list-group"	ng-controller="InfiniteScrollController">

			<div infinite-scroll="loadMore()" infinite-scroll-distance="1"	style="overflow-y: scroll; overflow-x: hidden;">

				<div class="col-lg-6" style="width: 374px; height: 310px">

					<div class="col-lg-6" id="nav1">
						<div style="width: 25px; height: 175px">
							<div class="alert-warning media-box-object img-circle thumb32 text-center">
								<h2 class="mv-lg">1</h2>
							</div>
						</div>
						<div style="width: 25px; height: 175px; padding-top:5px">
							<div class="alert-warning media-box-object img-circle thumb32 text-center"	style="width: 25px; height: 175px">
								<h2 class="mv-lg">2</h2>
							</div>
						</div>
						<div style="width: 25px; height: 175px; padding-top:30px">
							<div class="alert-warning media-box-object img-circle thumb32 text-center"	style="width: 25px; height: 175px">
								<h2 class="mv-lg">3</h2>
							</div>
						</div>
					</div>

					<div class="col-lg-6" id="nav2" style="height: 100%">
						<div id="most-used-model-container"	ng-init="getMostUsedModel('most-used-model-container')" class="insights-insightsDiv"></div>
						<div id="most-used-wash-cycle-container" ng-init="getNotConnectedMachines('most-used-wash-cycle-container')" class="insights-insightsDiv"></div>
						<div id="not-connected-machines-container"	ng-init="getCommonFaults('not-connected-machines-container')" class="insights-insightsDiv"></div>
					</div>


					</div>
				</scrollable>

			</div>
		</div>

	</div>	
   
   
   
 

<div class="row" style="padding-top: 20px"    >

   <!-- START dashboard main content-->
 



   
   <div class="col-lg-8"   >
      <!-- START panel -->
   
      <div class="panel panel-default"  id="gridNormal">
         <div class="panel-heading md-body-2" style="font-family: Roboto; font-size: 15px; padding-left: 20px; padding-top:10px; "><b>Washing Machines status </b>  
          <img id="gridMaxImg" class="pull-right col-md-1" style="padding:0px; height: 15px; width: 15px; ;" src="app/img/Dashboardassets/icon_maximize.png" ng-click="maximizeGrid()"></img>
         <img id="gridCloseImg" class="pull-right hidden col-md-1 " style="padding:0px; height: 15px; width: 15px; ;" src="app/img/Dashboardassets/close.png" ng-click="closeGrid()"></img>
         
         </div>
      
       
         <div class="panel-body" id="gridHideNodata" >
          <!--   START table-responsive -->
            <div id="gridAdjustHeight" class="table-responsive scrollit" >
               <table  class="table table-striped table-bordered table-hover" ng-if="griddata.length > 0">
               	<div ng-show="!griddata.length" class="text-center col-md-4 col-md-offset-4">No Records to display</div>
                  <thead class="md-body-2" style="font-family: Roboto; font-size: 15px;" >
                    
                 
                  	<tr>
                       <th style="text-align: center"> Make  <select id="dropdown"></select></th> 
                        <th style="text-align: center">Model <select id="dropdown"></select> </th>
                        <th style="text-align: center">Total Loads <select id="dropdown"></select> </th>
                        <th style="text-align:center">Most Popular Wash Day <select id="dropdown"></select> </th>
                        <th style="text-align: center">Most Popular Time of Day <select id="dropdown"></select> </th>

                     </tr>
                  
                  
                  </thead>
                  
                  <tbody>
                      <tr ng-repeat="itm in griddata"  >
                        <td style="text-align:center">{{itm.make}}</td>
                        <td style="text-align:center">{{itm.model}}</td>
                        <td style="text-align:center">{{itm.totalLoad}}</td>
                        <td style="text-align:center">{{itm.popularDay}}</td>
                        <td style="text-align:center">{{itm.popularTime}}</td>

                     </tr>
                    
                 </tbody>
               </table>
            </div>
       <!--      END table-responsive -->
         <label  class="pull-right " ng-if="griddata.length > 0">{{griddata.length}} records found</label>
         </div>
      </div>
    <!--   END panel -->
   </div> 
   <!-- END dashboard main content-->
   <!-- START dashboard sidebar-->
  <!--  <aside class="col-lg-4"  style=" width: 374px; "> -->
  
  <!-- START dashboard sidebar-->
   <aside class="col-lg-4" style="">
     
      <!-- START messages and activity-->
      <div class="panel panel-default" style="width: 374px; height: 240px; ">
         <div class="panel-heading">
            <div class="panel-title md-body-2" style="font-family: Roboto; font-size: 15px;">Notification<img class="pull-right col-md-1" style="padding:0px; height: 15px; width: 15px; ;" src="app/img/Dashboardassets/help.png"></div>
            
         </div>
         
         <!-- START list group-->
         <div class="list-group">
      <!-- START list group item-->
            <div class="list-group-item">
               <div class="media-box">
<!--                   <div class="pull-left"> -->
<!--                      <span class="fa-stack"> -->
<!--                         <em class="fa fa-circle fa-stack-2x text-warning"></em> -->
<!--                         <em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em> -->
<!--                      </span> -->
<!--                   </div> -->
                  <div class="media-box-body clearfix">
                     <small class="text-greens pull-right ml">40%</small>
                     <div class="media-box-heading"><a href="#" class="text-warning m0">Water used over a period of time</a>
                     </div>
<!--                      <progressbar value="22" type="warning" class="progress-xs m0"></progressbar> -->
                     <progressbar  value="40" type="greens" class="progress-xs m0" style=" height: 10px;"></progressbar>

                  </div>
               </div>
            </div>
            <!-- END list group item-->
             <!-- START list group item-->
            <div class="list-group-item">
               <div class="media-box">
<!--                   <div class="pull-left"> -->
<!--                      <span class="fa-stack"> -->
<!--                         <em class="fa fa-circle fa-stack-2x text-warning"></em> -->
<!--                         <em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em> -->
<!--                      </span> -->
<!--                   </div> -->
                  <div class="media-box-body clearfix">
                     <small class="text-pinks pull-right ml" >-80%</small>
                     <div class="media-box-heading"><a href="#" class="text-warning m0">Detergent used over a period of time</a>
                     </div>
                     <progressbar value="80" type="pink" class="progress-xs m0" style=" height: 10px;"></progressbar>
                  </div>
               </div>
            </div>
            <!-- END list group item-->
            <!-- START list group item-->
            <div class="list-group-item">
               <div class="media-box">
<!--                   <div class="pull-left"> -->
<!--                      <span class="fa-stack"> -->
<!--                         <em class="fa fa-circle fa-stack-2x text-warning"></em> -->
<!--                         <em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em> -->
<!--                      </span> -->
<!--                   </div> -->
                  <div class="media-box-body clearfix">
                     <small class="text-yellows pull-right ml">65%</small>
                     <div class="media-box-heading"><a href="#" class="text-warning m0">Structure warranty programs</a>
                     </div>
                     
                     <progressbar value="65" type="yellow" class="progress-xs m0" style=" height: 10px;"></progressbar>
                  </div>
               </div>
            </div>
            <!-- END list group item-->
         </div>
         <!-- END list group-->
         <!-- START panel footer-->
<!--          <div class="panel-footer clearfix"> -->
<!--             <a href="#" class="pull-left"> -->
<!--                <small>Load more</small> -->
<!--             </a> -->
<!--          </div> -->
         <!-- END panel-footer-->
      </div>
      <!-- END messages and activity-->
   </aside>
   <!-- END dashboard sidebar-->
     
      
      <!-- END messages and activity-->
   </aside>
   <!-- END dashboard sidebar-->
</div>
</div>
</div>
