 <link href="css/sidebar.css" rel="stylesheet"/>
 <link href="css/branding/colors.css" rel="stylesheet" />
    <div id="sidebarPanelIcons" class="aside-inner">
        <nav class="sidebar">
            <div class="nav">
                <div id="dashboardNav" class="leftbar-icon" ng-controller="MyviewController"
                	ng-class="{'sidebarItemActive': ((currentState == 'app.singleview' || currentState == 'app.engmanagerview') && activeTab == 'dashboard')}" 
                	ng-mouseover="onMouseOver('dashboard')" ng-mouseLeave="onMouseLeave()" ng-click="onSideBarMenuClick('dashboard')">
                    <div class="sidebarIconContainer">
                        <a href="" ng-click="getUrl()">
                        <img class="iconpos" ng-src="{{(currentState != 'app.reports' && activeTab == 'dashboard'|| hoverTab == 'dashboard') ? 'img/Dashboardassets/dashboard_hover.png' : 'img/Dashboardassets/dashboard.png'}}"></a>
                    </div>
                    <a href="" ng-click="getUrl()"style="color: inherit; text-decoration: none;"><div class="menu-text">Dashboard</div></a>
				</div>
                <div id="filterNav" class="leftbar-icon" ng-class="{'sidebarItemActive': (activeTab == 'product'), 'disablePointerEvent' : isDisableSideBar}"
                	ng-mouseover="onMouseOver('product')" ng-mouseLeave="onMouseLeave()" ng-click="onSideBarMenuClick('product')">
                    <div class="sidebarIconContainer">
                        <img class="iconpos" ng-src="{{(activeTab == 'product' || hoverTab == 'product') ? 'img/Dashboardassets/machine_hover.png' : 'img/Dashboardassets/machine.png'}}">
                    </div>
                    <div class="menu-text" translate="{{'filter'}}"></div>
                </div>
                <div id="demographicsNav" class="leftbar-icon" ng-class="{'sidebarItemActive': (activeTab == 'demographic'), 'disablePointerEvent' : isDisableSideBar}" 
                	ng-mouseover="onMouseOver('demographic')" ng-mouseLeave="onMouseLeave()" ng-click="onSideBarMenuClick('demographic')">
                    <div class="sidebarIconContainer">
                        <img class="iconpos" ng-src="{{(activeTab == 'demographic' || hoverTab == 'demographic') ? 'img/Dashboardassets/demographics_hover.png' : 'img/Dashboardassets/demographics.png'}}">
                    </div>
                    <div class="menu-text" translate="{{'demographics'}}"></div>
                </div>
                <div ng-class="{'sidebarItemActive': (currentState == 'app.reports' || activeTab == 'report'), 'disablePointerEvent' : (isDisableSideBar || loginCredentails.roleKey == 'eng_manager')}" id="reportsNav" class="leftbar-icon" 
                	ng-mouseover="onMouseOver('report')" ng-mouseLeave="onMouseLeave()" ng-click="onSideBarMenuClick('report')">
					<div class="sidebarIconContainer">
						<img class="iconpos" ng-src="{{(currentState == 'app.reports' || activeTab == 'report' || hoverTab == 'report') ? 'img/Dashboardassets/reports_hover.png' : 'img/Dashboardassets/reports.png'}}">
					</div>
					<div class="menu-text" translate="{{'reports'}}"></div>
				</div>
            </div>
        </nav>
    </div>
    <section id="sidebarFilterPanel">
    <div id="filterPanel" ng-show="activeTab == 'product'">
        <div class="divSpacePad1">
            <label translate="{{'products'}}"></label>

            <button id="panelbuttons" class="btn btn-primary clearfltrbtn pull-right" ng-click="clearfilter1()" translate="{{'clear_filter'}}"></button>
        </div>
        <div class="divSpacePad">
            <span translate="{{'search_by_product'}}"></span>
        </div>


        <div class="form-group element-margin">
            <select ng-class="{'sidebarSelectField': loader.isMakeBox}" class="form-control" ng-model="search.selectedMake" ng-change="selectedMake()">
                <option class="option-text-style" value="" disabled selected translate="{{'make'}}"></option>
                <option class="option-text-style" ng-repeat="make in makes"   value={{make.name}}>{{make.name}}</option>
            </select>
        </div>

        <div class="form-group element-margin">
           <select ng-class="{'sidebarSelectField': loader.isModelBox}" class="form-control" ng-model="search.selectedModel" ng-change="selectedModel()">
                <option class="option-text-style" value="" disabled selected translate="{{'type'}}"></option>
                <option class="option-text-style" ng-repeat="model in models"   value={{model.model}}>{{model.model}}</option>
            </select>
        </div>

        <div class="form-group element-margin">
            <!-- <input type="text" ng-model="skuFilter" class="form-control" placeholder="{{'sku_search' | translate}}" > -->
            <form ng-submit="$event.preventDefault()">
            	<md-autocomplete
            		  ng-disabled="isDisabled"
            		  ng-class="{'sidebarSelectField': loader.isSkuBox}"
            		  md-no-cache="noCache"	
			          md-selected-item="selectedItem"
			          
			          md-search-text="search.selectedSKU"
			          
			          md-items="item in querySearch(search.selectedSKU)"
			          md-item-text="item.sku"
			          md-min-length="0"
			          placeholder="{{'sku_search' | translate}}"
			          md-menu-class="mycustomcss">
			        <md-item-template>
		          		<span id="skuitemid" md-highlight-text="search.selectedSKU" md-highlight-flags="^i">{{item.sku}}</span>
		        	</md-item-template>
		        <md-not-found>
		          	No result found.
		        </md-not-found>
		      </md-autocomplete>
	      	</form>
	      	
        </div>

        <!-- <div class="form-group element-margin">

            <select ng-class="{'sidebarSelectField': loader.isSkuBox}" class="form-control" ng-model="search.selectedSKU" ng-change="selectedSKU()">
                <option class="option-text-style" value="" disabled selected>SKU</option>
                <option class="option-text-style" ng-repeat="SKU in SKUs | filter : skuFilter"   value={{SKU.sku}}>{{SKU.sku}}</option>
            </select>
        </div> -->

        <!-- Temporally hide mfg start and end dates till databases are updated with MfDate -->
        <div class="form-group element-margin" ng-hide="true">
        <md-datepicker
                ng-model="search.mfgStartDate"
                md-placeholder="MFG Start Date">
        </md-datepicker>

        <md-datepicker
                ng-model="search.mfgEndDate"
                md-placeholder="MFG End Date">
        </md-datepicker>

        </div>

        <button id="panelbuttons" type="button"  class="mb-sm btn btn-primary searchbtn" ng-click="applyProductFilter()" translate="{{'apply_filter'}}"></button>

    </div>

    <div id="demographicsFilterPanel" ng-show="activeTab == 'demographic'">

        <div class="divSpacePad1">
            <label translate="{{'demographics'}}"></label>

            <button id="panelbuttons" class="btn btn-primary clearfltrbtn pull-right" ng-click="clearfilter2()" translate="{{'clear_filter'}}"></button>
        </div>

        <div  class="divSpacePad">
            <span translate="{{'search_by_demographics'}}"></span>
        </div>


        <div class="form-group element-margin">
           <select ng-class="{'sidebarSelectField': loader.isIncomeRangeBox}" class="form-control" ng-model="search.incomeRange">
                <option class="option-text-style" value="" disabled selected translate="{{'income_range'}}"></option>

                <option class="option-text-style" ng-repeat="income in demoIncomeRange" value={{income}}>{{income.range}}</option>
            </select>
        </div>

        <div class="form-group element-margin">
            <select ng-class="{'sidebarSelectField': loader.isFamilyMemberBox}" class="form-control" ng-model="search.occupation">
                <option class="option-text-style" value="" disabled selected translate="{{'family_members'}}"></option>
                <option class="option-text-style" ng-repeat="count in demoMembersCount" value={{count}}>{{count.range}}</option>
            </select>
        </div>

        <div class="form-group element-margin">
             <select ng-class="{'sidebarSelectField': loader.isAgeBox}" class="form-control" ng-model="search.ageGroup">
                <option class="option-text-style" value="" disabled selected translate="{{'age_group'}}"></option>
                <option class="option-text-style" ng-repeat="age in demoAgeRange" value={{age}}>{{age.range}}</option>
            </select>
        </div>

        <button id="panelbuttons" type="button"  class="mb-sm btn btn-primary searchbtn" ng-click="applyDemographicsFilter()" translate="{{'apply_filter'}}"></button>
    </div>
    <!--reports-->

<div id="reportsPanel" ng-show="(activeTab == 'report' && currentState != 'app.reports')" ng-controller="reportController">
       <div class="divSpacePad1">
            <label translate="{{'reports'}}"></label>
        </div>
         <div  class="divSpacePad">
            <span translate="{{'washing_machine_status_reports'}}"></span>
        </div>
                              <div id="subpanel" style="width:100%; " class="fontSubText">

           <button id="panelbuttons" ng-disabled="isEngManager" id="clickView" class="mb-sm btn btn-primary searchbtn" ng-click="getReports()" translate="{{'view_report'}}"></button>
        </div>
</div>
</section>