
 <link href="css/sidebar.css" rel="stylesheet"/>
    <div class="aside-inner" >
        <nav class="sidebar">
            <div class="nav">
                <div id="dashboardNav" class="leftbar-icon sidebarItemActive" ng-controller="MyviewController">
                    <div class="sidebarIconContainer">
                        <a href="" ng-click="getUrl()"><img class="iconpos" src="img/Dashboardassets/dashboard.png"></a>
                    </div>
                    <a href="" ng-click="getUrl()"style="color: inherit; text-decoration: none;"><div class="menu-text">Dashboard</div></a>
				</div>
                <div  id="filterNav" class="leftbar-icon">
                    <div class="sidebarIconContainer">
                        <img class="iconpos" src="img/Dashboardassets/machine.png">
                    </div>
                    <div class="menu-text" translate="{{'filter'}}"></div>
                </div>
                <div id="demographicsNav" class="leftbar-icon">
                    <div class="sidebarIconContainer">
                        <img class="iconpos" src="img/Dashboardassets/demographics.png">
                    </div>
                    <div class="menu-text" translate="{{'demographics'}}"></div>
                </div>
                <div  id="reportsNav" class="leftbar-icon">
					<div class="sidebarIconContainer">
						<img class="iconpos" src="img/Dashboardassets/reports.png">
					</div>
					<div class="menu-text" translate="{{'reports'}}"></div>
				</div>
            </div>
        </nav>
    </div>
    <div id="filterPanel" >
        <div class="divSpacePad1">
            <label translate="{{'products'}}"></label>

            <button  class="btn btn-primary clearfltrbtn pull-right" ng-click="clearfilter1()" translate="{{'clear_filter'}}"></button>
        </div>
        <div class="divSpacePad">
            <span translate="{{'search_by_product'}}"></span>
        </div>


        <div class="form-group element-margin">
            <select class="form-control" ng-model="search.selectedMake" ng-change="selectedMake()">
                <option class="option-text-style" value="" disabled selected translate="{{'make'}}"></option>
                <option class="option-text-style" ng-repeat="make in makes"   value={{make.name}}>{{make.name}}</option>
            </select>
        </div>

        <div class="form-group element-margin">
           <select  class="form-control" ng-model="search.selectedModel" ng-change="selectedModel()">
                <option class="option-text-style" value="" disabled selected translate="{{'type'}}"></option>
                <option class="option-text-style" ng-repeat="model in models"   value={{model.model}}>{{model.model}}</option>
            </select>
        </div>

        <div class="form-group element-margin">
            <input type="text" ng-model="skuFilter" class="form-control" placeholder="{{'sku_search' | translate}}" >
        </div>

        <div class="form-group element-margin">

            <select  class="form-control" ng-model="search.selectedSKU" ng-change="selectedSKU()">
                <option class="option-text-style" value="" disabled selected>SKU</option>
                <option class="option-text-style" ng-repeat="SKU in SKUs | filter : skuFilter"   value={{SKU.sku}}>{{SKU.sku}}</option>
            </select>
        </div>

        <!-- Temporally hide mfg start and end dates till databases are updated with MfDate -->
        <div class="form-group element-margin" ng-hide="true">
        <md-datepicker
                ng-model="search.mfgStartDate"
                md-placeholder="MFG Start Date">
        </md-datepicker>

        <md-datepicker
                ng-model="search.mfgEndDate"
                md-placeholder="MFG End Date">
        </md-datepicker>

        </div>

        <button type="button"  class="mb-sm btn btn-primary searchbtn" ng-click="applyProductFilter()" translate="{{'apply_filter'}}"></button>

    </div>

    <div id="demographicsFilterPanel">

        <div class="divSpacePad1">
            <label translate="{{'demographics'}}"></label>

            <button  class="btn btn-primary clearfltrbtn pull-right" ng-click="clearfilter2()" translate="{{'clear_filter'}}"></button>
        </div>

        <div  class="divSpacePad">
            <span translate="{{'search_by_demographics'}}"></span>
        </div>


        <div class="form-group element-margin">
           <select class="form-control" ng-model="search.incomeRange">
                <option class="option-text-style" value="" disabled selected translate="{{'income_range'}}"></option>

                <option class="option-text-style" ng-repeat="income in demoIncomeRange" value={{income}}>{{income.range}}</option>
            </select>
        </div>

        <div class="form-group element-margin">
            <select  class="form-control" ng-model="search.occupation">
                <option class="option-text-style" value="" disabled selected translate="{{'family_members'}}"></option>
                <option class="option-text-style" ng-repeat="count in demoMembersCount" value={{count}}>{{count.range}}</option>
            </select>
        </div>

        <div class="form-group element-margin">
             <select  class="form-control" ng-model="search.ageGroup">
                <option class="option-text-style" value="" disabled selected translate="{{'age_group'}}"></option>
                <option class="option-text-style" ng-repeat="age in demoAgeRange" value={{age}}>{{age.range}}</option>
            </select>
        </div>

        <button type="button"  class="mb-sm btn btn-primary searchbtn" ng-click="applyDemographicsFilter()" translate="{{'apply_filter'}}"></button>
    </div>
    <!--reports-->

<div id="reportsPanel" ng-controller="reportController">
                      <div class="divSpacePad1">
                           <label translate="{{'reports'}}"></label>
                       </div>
                        <div  class="divSpacePad">
                           <span translate="{{'washing_machine_status_reports'}}"></span>
                       </div>
                                             <div id="subpanel" style="width:100%; " class="fontSubText">

                          <button id="clickView" class="mb-sm btn btn-primary searchbtn" ng-click="getReports()" translate="{{'view_report'}}"></button>
                       </div>
               </div>


<script>

$(document).on("mouseover", "#filterNav, #filterPanel", function(event) {
    $('#filterPanel').show();
    $('#filterNav').addClass('sidebarItemActive');
    $('#filterNav img').attr('src','img/Dashboardassets/machine_hover.png');
    $('#dashboardNav').removeClass('sidebarItemActive');
    $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard.png');
    $('#demographicsNav').removeClass('sidebarItemActive');
    $('#demographicsNav img').attr('src','img/Dashboardassets/demographics.png');
    $('#reportsNav').removeClass('sidebarItemActive');
    $('#reportsNav img').attr('src','img/Dashboardassets/reports.png');

});
$(document).on("mouseleave", "#filterNav, #filterPanel", function(event) {
    if($('.md-pane-open').is(":visible")){
        return;
    }
    $('#filterPanel').hide();
    $('#filterNav').removeClass('sidebarItemActive');
    $('#filterNav img').attr('src','img/Dashboardassets/machine.png');
    $('#dashboardNav').addClass('sidebarItemActive');
    $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard_hover.png');
    $('#demographicsNav').removeClass('sidebarItemActive');
    $('#demographicsNav img').attr('src','img/Dashboardassets/demographics.png');
    $('#reportsNav').removeClass('sidebarItemActive');
    $('#reportsNav img').attr('src','img/Dashboardassets/reports.png');
    event.stopPropagation();
});


$(document).on("mouseover", "#demographicsNav, #demographicsFilterPanel", function(event) {
    $('#demographicsFilterPanel').show();
    $('#filterNav').removeClass('sidebarItemActive');
    $('#filterNav img').attr('src','img/Dashboardassets/machine.png');
    $('#dashboardNav').removeClass('sidebarItemActive');
    $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard.png');
    $('#demographicsNav').addClass('sidebarItemActive');
    $('#demographicsNav img').attr('src','img/Dashboardassets/demographics_hover.png');
    $('#reportsNav').removeClass('sidebarItemActive');
    $('#reportsNav img').attr('src','img/Dashboardassets/reports.png');
});

$(document).on("mouseleave", "#demographicsNav, #demographicsFilterPanel", function(event) {
    if($('.md-pane-open').is(":visible")){
        return;
    }
    $('#demographicsFilterPanel').hide();
    $('#filterNav').removeClass('sidebarItemActive');
    $('#filterNav img').attr('src','img/Dashboardassets/machine.png');
    $('#dashboardNav').addClass('sidebarItemActive');
    $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard_hover.png');
    $('#demographicsNav').removeClass('sidebarItemActive');
    $('#demographicsNav img').attr('src','img/Dashboardassets/demographics.png');
    $('#reportsNav').removeClass('sidebarItemActive');
    $('#reportsNav img').attr('src','img/Dashboardassets/reports.png');
    event.stopPropagation();
});

//reports
$(document).on("mouseover", "#reportsNav, #reportsPanel", function(event) {
   $('#reportsPanel').show();
   $('#filterNav').removeClass('sidebarItemActive');
   $('#filterNav img').attr('src','img/Dashboardassets/machine.png');
   $('#reportsNav').addClass('sidebarItemActive');
   $('#reportsNav img').attr('src','img/Dashboardassets/reports_hover.png');
   $('#dashboardNav').removeClass('sidebarItemActive');
   $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard.png');
   $('#demographicsNav').removeClass('sidebarItemActive');
   $('#demographicsNav img').attr('src','img/Dashboardassets/demographics.png');
});
$(document).on("mouseleave", "#reportsNav, #reportsPanel", function(event) {
   if($('.md-pane-open').is(":visible")){
       return;
   }
   $('#reportsPanel').hide();
   $('#reportsNav img').attr('src','img/Dashboardassets/reports.png');
   $('#dashboardNav').removeClass('sidebarItemActive');
   $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard.png');
   event.stopPropagation();
});
$(dashboardNav).on("click", function(){
  $('#dashboardNav').addClass('sidebarItemActive');
  $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard_hover.png');
  $('#reportsNav').removeClass('sidebarItemActive');

  if(event){
  $("#dashboardNav").on("mouseleave", function(){
  $('#dashboardNav').addClass('sidebarItemActive');
  $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard_hover.png');
  $('#reportsNav').removeClass('sidebarItemActive');


});}
     if(event){
  $("#dashboardNav").on("mouseover", function(){
  $('#dashboardNav').addClass('sidebarItemActive');
  $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard_hover.png');
  $('#reportsNav').removeClass('sidebarItemActive');


});}

});
$(dashboardNav).on("mouseover", function(){
  $('#dashboardNav').addClass('sidebarItemActive');
  $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard_hover.png');
  $('#reportsNav').removeClass('sidebarItemActive');

});
$(reportsNav).on("mouseleave", function(event){

  if($('.md-pane-open').is(":visible")){
        return;
    }
    $('#reportsPanel').hide();
    $('#filterNav').removeClass('sidebarItemActive');
    $('#filterNav img').attr('src','img/Dashboardassets/machine.png');
    $('#dashboardNav').addClass('sidebarItemActive');
    $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard_hover.png');
    $('#demographicsNav').removeClass('sidebarItemActive');
    $('#demographicsNav img').attr('src','img/Dashboardassets/demographics.png');
    $('#reportsNav').removeClass('sidebarItemActive');
    $('#reportsNav img').attr('src','img/Dashboardassets/reports.png');
    event.stopPropagation();
});

$(subpanel).on("click", function(){
    $('#dashboardNav').removeClass('sidebarItemActive');
    $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard.png');
    $('#reportsNav img').attr('src','img/Dashboardassets/reports.png');
    $('#reportsNav').addClass('sidebarItemActive');
    $('#filterNav').removeClass('sidebarItemActive');
    $('#demographicsNav').removeClass('sidebarItemActive');
      if(event){
    $("#dashboardNav").on("mouseover", function(){
    $('#dashboardNav').removeClass('sidebarItemActive');
    $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard_hover.png');
    $('#reportsNav').addClass('sidebarItemActive');
    $('#reportsNav img').attr('src','img/Dashboardassets/reports.png');

});}
      if(event){
    $("#dashboardNav").on("mouseleave", function(){
    $('#dashboardNav').removeClass('sidebarItemActive');
    $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard_hover.png');
    $('#reportsNav').addClass('sidebarItemActive');
    $('#reportsNav img').attr('src','img/Dashboardassets/reports.png');

});}
      if(event){
    $("#filterNav").on("mouseleave", function(){
    $('#dashboardNav').removeClass('sidebarItemActive');
    $('#reportsNav').addClass('sidebarItemActive');
    $('#reportsNav img').attr('src','img/Dashboardassets/reports.png');

});}
      if(event){
    $("#demographicsNav").on("mouseleave", function(){
    $('#dashboardNav').removeClass('sidebarItemActive');
    $('#reportsNav').addClass('sidebarItemActive');
    $('#reportsNav img').attr('src','img/Dashboardassets/reports.png');

});}


});

</script>
