<div class="somediv hidden" id="hiddenDiv"></div>
<div class="chart-somediv hidden" id="hiddenDiv"></div>
<div class="map-somediv hidden" id="hiddenDivMap"></div>
<div class="hidden gridMaximize" id="gridMax"></div>
<h3 style="padding-top: 20px; padding-bottom: 10px; margin-bottom: 0px">
	<link href="css/charts.css" rel="stylesheet" />
	<link href="css/mkttable.css" rel="stylesheet" />


 	<div class="pull-right" ng-controller="DashboardController" >
      {{'app_dashboard_last_updated_text' | translate}} {{currentDate}}
    </div>

	<a href="#/app/singleview" ng-click="loadDashboard()"
		style="font-size: 14px; font: Roboto Light; color: #be3838;" translate="{{'dashboard_title'}}"></a> <span
		style="font-size: 14px; font: Roboto; color: #222222; padding-left: 15px; padding-right: 15px;">
		></span> <style="font-size: 14px; font: Roboto Light; color: #222222" translate="{{'twitter_insights'}}"></style>

</h3>




<div class="row col-lg-12  filter-filterDiv" style="position: absolute; z-index: 99;" >


	<div  class=" col-lg-12"  id="filterDivId" style=" margin-left: inherit">

		<div class="col-lg-3 filterItem notificationHeader" translate="{{'twitter_insights'}}">

		</div>
		<div class="col-lg-9 filterItem">

			<div class="col-lg-10">

			</div>
			<div class="col-lg-2
				style="float:left; max-width: 150px; margin-left: 22px; padding-right: 0px; padding-left: 0px;">
				<select name="" class="form-control filter-selectStyle"
					ng-model="selectedDay" ng-change="loadDayFilterData()">									
					<option class="option-text-style" value="" disabled selected translate="{{'days'}}">>
					<option class="option-text-style"  ng-repeat="(key, value) in days" value={{key}}>{{value}}</option>				  
				</select>  				
		</div>
		    <!-- <div class="col-lg-2
				style="float:right; max-width: 150px; margin-left: 22px; padding-right: 0px; padding-left: 0px;">
				<div class="filter-selectStyle">
					<div class="export-button"><img src="img/Dashboardassets/export.png" alt=""> Export</div>
				</div>
			</div> -->

	</div>



</div>

<div class="row" style="margin-top:0; margin-top: 66px;">

	<!-- START Twitter Insights Chart -->

			<div class="col-sm-8 col-md-8 col-lg-8 nopadding" style="border-right: 1px solid #dddddd;">

					<table  style="width:100%;">
						<tr class="twitter_label">
							<td width="20%">
								<div translate="{{'tweets'}}"></div>
								<div class="twitter_count"><label ng-bind="tweetsData.tweets_count"></label></div>
								<div ng-class="getTextColor(tweetsData.tweets_color)" ><img src="img/arrow_green_up.png" style="margin-top: -3px;"/><label ng-bind="tweetsData.tweets_percentage"></label><label ng-show="showPerSign">%</label></div>
							</td>
							<td width="20%">
								<div translate="{{'tweets_impressions'}}"></div>
								<div class="twitter_count"><label ng-bind="tweetsData.tweetsimpress_count"></label></div>
								<div ng-class="getTextColor(tweetsData.tweetsimpress_color)" ><img src="img/arrow_green_up.png" style="margin-top: -3px;"/><label ng-bind="tweetsData.tweetsimpress_percentage"></label ng-show="showPerSign"><label ng-show="showPerSign">%</label></div>
							</td>
							<td width="20%">
								<div translate="{{'profile_visits'}}"></div>
								<div class="twitter_count"><label ng-bind="tweetsData.profilevisits_count"></label></div>
								<div ng-class="getTextColor(tweetsData.profilevisits_color)" ><img src="img/arrow_green_up.png" style="margin-top: -3px;"/><label ng-bind="tweetsData.profilevisits_percentage"></label ng-show="showPerSign"><label ng-show="showPerSign">%</label></div>
							</td>
							<td width="20%">
								<div translate="{{'mentions'}}"></div>
								<div class="twitter_count"><label ng-bind="tweetsData.mentions_count"></label></div>
								<div ng-class="getTextColor(tweetsData.mentions_color)" ><img src="img/arrow_green_up.png" style="margin-top: -3px;"/><label ng-bind="tweetsData.mentions_percentage"></label ng-show="showPerSign"><label ng-show="showPerSign">%</label></div>
							</td>
 							<td width="20%">
								<div translate="{{'twitter'}}"></div>
								<div class="twitter_count"><label ng-bind="tweetsData.twitter_count"></label></div>
								<div ng-class="getTextColor(tweetsData.twitter_color)" ><img src="img/arrow_green_up.png" style="margin-top: -3px;"/><label ng-bind="tweetsData.twitter_percentage"></label></div>
							</td>
						</tr>
						<tr style="background-color: white">
							<td><div id='tweets_div' ng-init="getTwitterData('tweets_div')"></div></td>
							<td><div id='impressions_div' ng-init="getTwitterData('impressions_div')"></div></td>
							<td><div id='profile_div' ng-init="getTwitterData('profile_div')"></div></td>
							<td><div id='mentions_div' ng-init="getTwitterData('mentions_div')"></div></td>
							<td><div id='twitter_div' ng-init="getTwitterData('twitter_div')"></div></td>
						</tr>
					</table>

			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">

				<div class="col-lg-12">
				<img height="25px" width="30px" src='img/Dashboardassets/twitter.png' alt='' style="margin-left: 20px"/><label style="margin-top: 5px;color: #be3838;">Twitter Sentiments</label>
				</div>
				<div class="col-sm-11 col-md-11 col-lg-11" style="width:400px">

					<div class="col-sm-4 col-md-4 col-lg-4" id="twitter_sentiments_pos"></div>
					<div id="twitter_sentiments_pos_text" style="position:absolute; left:0px; top:0px;"></div>

					<div class="col-sm-4 col-md-4 col-lg-4" id="twitter_sentiments_neu"></div>
					<div id="twitter_sentiments_neu_text" style="position:absolute; left:0px; top:0px;"></div>

					<div class="col-sm-4 col-md-4 col-lg-4" id="twitter_sentiments_neg"></div>
					<div id="twitter_sentiments_neg_text" style="position:absolute; left:0px; top:0px;"></div>


				</div>
				<div class="col-sm-1 col-md-1 col-lg-1">&nbsp;</div>
			</div>

	<!-- END Twitter Insights Chart -->

</div>

<div class="row" style="margin-top:-15px">


	    <!-- START panel -->

		<div id="gridNormal">
			


			<div class="panel-body" id="gridHideNodata">
				<div id="tableTitle">
					<span translate="{{'twitter_insights'}}"></span>
					<img class="col-md-1 pull-right"
						style="padding: 0px; height: 15px; width: 15px;margin-right: 5px;margin-top:5px;"
						src="img/Dashboardassets/help.png"
						data-toggle="popover" data-placement="left"
						data-content="Twitter Insights Data Grid provides more elaborated details about Tweets and Re-Tweets of buyers as per their preferences."
						data-trigger="hover"></img>

				</div>
				
				<!--   START table-responsive -->
				<div class="panel panel-default">


					<div class="tableHeader">
						<p class="text-center" translate="{{'make'}}"></p>
						<p class="text-center" translate="{{'model'}}"></p>
						<p class="text-center" translate="{{'tweets'}}"></p>
						<p class="text-center" translate="{{'likes'}}"></p>
						<p class="text-center" translate="{{'dislikes'}}"></p>
						<p class="text-center" translate="{{'followers'}}"></p>
						<p class="text-center" style="border-right:hidden !important;" translate="{{'comments'}}"></p>
						<p class="text-center" style="width: 100px;">&nbsp;</p>

					</div>
					<div class="tbody"  style="height: 400px !important;">
						<div class="tableScroll">
							<table class="table table-condensed" ng-if="twitter_insights_griddata.length > 0">

								<tbody id="tabody">
									<!-- Click event applied on TD rather than TR to avoid the exec event twice on last TD so that
										 Edit and Delete click event work separately -->
									<tr ng-repeat="itm in twitter_insights_griddata" ng-class="{'highlightRow' : (selectedRowIndex == $index)}">
										<td ng-click="getTwitterInsightsData(itm.tweetsid, $index)" class="text-center">{{itm.make}}</td>
				                        <td ng-click="getTwitterInsightsData(itm.tweetsid, $index)" class="text-center">{{itm.model}}</td>
				                        <td ng-click="getTwitterInsightsData(itm.tweetsid, $index)" class="text-center">{{itm.tweets}}</td>
				                        <td ng-click="getTwitterInsightsData(itm.tweetsid, $index)" class="text-center">{{itm.likes}}</td>
				                        <td ng-click="getTwitterInsightsData(itm.tweetsid, $index)" class="text-center">{{itm.dislikes}}</td>
				                        <td ng-click="getTwitterInsightsData(itm.tweetsid, $index)" class="text-center">{{itm.followers}}</td>
				                        <td ng-click="getTwitterInsightsData(itm.tweetsid, $index)" class="text-center" style="border-right:hidden !important;">
				                        	{{itm.comments}}
				                        </td>
				                        <td style="width: 100px;">
				                        	<div style="float: right; margin-right: 2px">
				                        	<a href="javascript:void(0)"><img ng-click="editTwitterInsights(itm.make, itm.model)" src="img/Dashboardassets/edit.png"/></a>&nbsp;
				                        	<!--<a href="javascript:void(0)"><img ng-click="deleteTwitterInsights()" src="img/Dashboardassets/delete.png"/></a>&nbsp;-->
				                        	</div>
				                        </td>

									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>

			</div>
		</div>
		<!--   END panel -->

</div>
