{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "org-BlueVega",
      "Space": "BlueVega"
    },
    "Name": "Smart Washing Machine",
    "Instrumentation": {
      "host": "smart-washing-machine-apic"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}