
<!DOCTYPE html>
<html lang="en">
<link href="app/css/footer.css" rel="stylesheet" />

<div id="footrallign">
<span class="footertab">
<button type="button" class="btn btn-link btn-sm tabbtn" data-toggle="modal" data-target="#aboutus-modal">About Us  </button>
<div class="modal fade" id="aboutus-modal" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="aboutUsLabel">
  <div class="modal-dialog modal-vertical-centered tab_modal" id="aboutus-modal" role="document" >
    <div class="modal-content tab_modal_content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="aboutUsLabel">About Us</h4>
      </div>
      <div class="modal-body">
        <p>For About Us&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      </div>
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal   -->
</span>


<span class="footertab">
<button type="button" class="btn btn-link btn-sm tabbtn"  data-toggle="modal" data-target="#terms-modal" > Terms of service </button>
<div class="modal fade" id="terms-modal" tabindex="-1" role="dialog" data-backdrop="false"aria-labelledby="termsLabel">
  <div class="modal-dialog modal-vertical-centered tab_modal" id="terms-modal" role="document" >
    <div class="modal-content tab_modal_content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="termsLabel">Terms Of Service</h4>
      </div>
      <div class="modal-body">
        <p>For Terms Of Service&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->
</span>

<span  class="footertab">
<button type="button" class="btn btn-link btn-sm tabbtn"  data-toggle="modal" data-target="#terms-modal" > Privacy policy</button>
<div class="modal fade" id="policy-modal" tabindex="-1" role="dialog" data-backdrop="false">
<div class="vertical-alignment-helper">
  <div class="modal-dialog modal-vertical-centered tab_modal" id="policy-modal" role="document" >
    <div class="modal-content tab_modal_content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Privacy policy </h4>
      </div>
      <div class="modal-body">
        <p>For Privacy policy&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      
      </div>
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
  </div>
</div><!-- .modal -->

</span>
<span class="bottom_content">Copyright 2016 . All rights reserved</span>
</div>


</html>
