<!-- <span>About us</span>

<span>Terms of service</span>
<span>Privacy policy</span> -->


<!-- <div class="col-xs-1 centerText" style="border-right:1px solid #003A77; font:#003A77">
            <span style="font-size:12px;font:Roboto Light;"> About us</span>
        </div> 
<div class="col-xs-2 centerText" style="border-right: 1px solid #003A77; font:#003A77">
            <span style="font-size:12px;font:Roboto Light; font:#003A77 ; padding-left: 10%"> Terms of service</span>
        </div> 
<div class="col-xs-2 centerText"  >
            <span style="font-size:12px;font:Roboto Light; font:#003A77 ; padding-left: 10% ;">   Privacy policy</span>
        </div> 
<div class="col-xs-6 centerText"  style=" float: right;"  >
    <span style="font-size:12px;font:Roboto Light; font:#003A77 ;padding-left: 55%">Copyright 2016 - All rights reserved</span>
  </div>
   -->
  <!-- <div id="popup" style="visibility:hidden">
    Popup contents here
    <button id="CloseBtn">ClosePopup</button>
</div> --> 
<!DOCTYPE html>
<html lang="en">
<!-- <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head> -->
  
<div style=" vertical-align: middle;margin-top:-10px;">
<span style="display: inline-block; vertical-align: middle; line-height: normal; font-size:12px;font:Roboto;Light; color:#003A77; padding-left: 22px; padding-right: 20px; padding-bottom: 25px; margin-right:3px; border-right:1px solid #003A77;height: 25px; text-decoration: underline; ">
<button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#aboutus-modal" style="font:Roboto;Light; color:#003A77;text-decoration: underline;">About Us  </button>
<div class="modal fade" id="aboutus-modal" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="aboutUsLabel">
  <div class="modal-dialog modal-vertical-centered" id="aboutus-modal" role="document" style="position: fixed; top: -56%; left: 30%;">
    <div class="modal-content" style="position: fixed; left: 100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="aboutUsLabel">About Us</h4>
      </div>
      <div class="modal-body">
        <p>For About Us&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal   -->
</span>


<span style="display: inline-block; vertical-align: middle; line-height: normal;font-size:12px;font:Roboto;Light; color:#003A77; padding-left: 22px; padding-right: 20px; margin-right:10px; border-right:1px solid #003A77; height: 25px;text-decoration: underline; ">
<button type="button" class="btn btn-link btn-sm"  data-toggle="modal" data-target="#terms-modal" style="font:Roboto;Light; color:#003A77;text-decoration: underline;"> Terms of service </button>  
<div class="modal fade" id="terms-modal" tabindex="-1" role="dialog" data-backdrop="false"aria-labelledby="termsLabel">
  <div class="modal-dialog modal-vertical-centered" id="terms-modal" role="document" style="position: fixed; top: -56%; left: 30%;">
    <div class="modal-content" style="position: fixed; left: 100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="termsLabel">Terms Of Service</h4>
      </div>
      <div class="modal-body">
        <p>For Terms Of Service&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->
</span>

<span style="font-size:12px;font:Roboto;Light; color:#003A77; padding-left: 20px; padding-right: 20px; text-decoration: underline; "> 
<button type="button" class="btn btn-link btn-sm"  data-toggle="modal" data-target="#terms-modal" style="font:Roboto;Light; color:#003A77;text-decoration: underline;"> Privacy policy</button>  
<div class="modal fade" id="policy-modal" tabindex="-1" role="dialog" data-backdrop="false">
<div class="vertical-alignment-helper">
  <div class="modal-dialog modal-vertical-centered" id="policy-modal" role="document" style="position: fixed; top: -56%; left: 30%;">
    <div class="modal-content" style="position: fixed; left: 100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Privacy policy </h4>
      </div>
      <div class="modal-body">
        <p>For Privacy policy&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
  </div>
</div><!-- .modal -->

</span>
<span style="font-size:12px;font:Roboto;Light; color:#222222; padding-right: 20px; float: right;">Copyright 2016 . All rights reserved</span>
</div>


</html>
