<!-- <span>About us</span>

<span>Terms of service</span>
<span>Privacy policy</span> -->


<div class="col-xs-1 centerText" style="border-right:1px solid #003A77; font:#003A77">
            <span style="font-size:12px;font:Roboto Light;"> About us</span>
        </div> 
<div class="col-xs-2 centerText" style="border-right: 1px solid #003A77; font:#003A77">
            <span style="font-size:12px;font:Roboto Light; font:#003A77 ; padding-left: 10%"> Terms of service</span>
        </div> 
<div class="col-xs-2 centerText"  >
            <span style="font-size:12px;font:Roboto Light; font:#003A77 ; padding-left: 10% ;">   Privacy policy</span>
        </div> 
<div class="col-xs-6 centerText"  style=" float: right;"  >
    <span style="font-size:12px;font:Roboto Light; font:#003A77 ;padding-left: 55%">Copyright 2016 - All rights reserved</span>
  </div>