<style>
    .leftbar-icon{
        
        z-index: 899988;
        /*width:80px;*/ 
        height:80px; 
        border-bottom:1px solid #4E4E4E;
        margin-top: 0px;
        color: #979797;
        /*
       
        color: #F0F0F0;
        font-size: 12px;
        text-align: center;
        padding: 15px   */
     }
    
    .sidebarItemActive {
         background-color: #4A88C9;
        color: #fff;
    }
    
    .element-margin{
        margin-bottom: 0px;
        padding: 10px;
        
    }
    
    .menu-text{
        font-family: Roboto;light;
        font-size:11px;
        color: inherit;
        text-align: center
        
    }
    
    .sidebarIconContainer {
        text-align: center;
        padding: 10px;
    }
    
    .iconpos{
        width: 32px;
        height: 32px;
    }
    
       #filterPanel,#calenderPanel{
        
        background: #000;
        width: 200px;
        height: auto;
        
        position: relative;
        z-index: 888;
        -moz-box-shadow: 10px 10px 5px #888;
        -webkit-box-shadow: 10px 10px 5px #888;
        box-shadow: 10px 10px 5px #888;
    }
    .divSpacePad{
        /*padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;*/
        padding: 10px;
    }
     .datepickerdemo md-content {
            padding-bottom: 200px; 
         }
        .datepickerdemo .validation-messages {
            font-size: 11px;
            color: darkred;
            margin: 10px 0 0 25px; 
         }
    
    .searchbtn{
     padding-bottom:8px ; 
        width:180px;   
        font-family: Roboto;light;
        font-size:14px;
        padding-top: 9px;
       margin-left: 12px;
    }
</style>
    
    <div class="aside-inner" >
        <nav class="sidebar">
            <div class="nav">
                <div id="dashboardNav" class="leftbar-icon sidebarItemActive">
                    <div class="sidebarIconContainer">
                        <img class="iconpos" src="app/img/Dashboardassets/dashboard.png">
                    </div>
                    <div class="menu-text">Dashboard</div>
                </div>
                <div  id="filterNav" class="leftbar-icon">
                    <div class="sidebarIconContainer">
                        <img class="iconpos" src="app/img/Dashboardassets/filter.png">
                    </div>
                    <div class="menu-text">Filter</div>
                </div>
                <div  id="calenderNav" class="leftbar-icon">
                    <div class="sidebarIconContainer">
                        <img class="iconpos" src="app/img/Dashboardassets/calendar.png">
                    </div>
                    <div class="menu-text">Calender</div>
                </div>
            </div>
        </nav>
    </div>
    <div id="filterPanel" style="margin-left:69px; top: 135px; background:#fff; display:none">
        <div class="divSpacePad">
            <label>Products</label>
        </div>
        <div style="width:100%; background:#e7eef6" class="divSpacePad">
            <span>Search by Product</span>
        </div>
       
        
        <div class="form-group element-margin">
            <select class="form-control" ng-model="search.selectedMake" ng-change="selectedMake()">
                <option class="option-text-style" value="" disabled selected>Make</option>
                <option class="option-text-style" ng-repeat="make in makes"   value={{make.name}}>{{make.name}}</option>
            </select>
        </div>
        
        <div class="form-group element-margin">
           <select  class="form-control" ng-model="search.selectedModel" ng-change="selectedModel()">
                <option class="option-text-style" value="" disabled selected>Type</option>
                <option class="option-text-style" ng-repeat="model in models"   value={{model.model}}>{{model.model}}</option>
            </select>
        </div>
        
        <div class="form-group element-margin">
            <select  class="form-control" ng-model="search.selectedSKU" ng-change="selectedSKU()">
                <option class="option-text-style" value="" disabled selected>SKU</option>
                <option class="option-text-style" ng-repeat="SKU in SKUs"   value={{SKU.sku}}>{{SKU.sku}}</option>
            </select>
        </div>
            
        <div style="width:100%; background:#e7eef6" class="divSpacePad">
            <span>Demographics</span>
        </div>
        
        
        <div class="form-group element-margin">
           <select class="form-control">
                <option class="option-text-style" value="" disabled selected>Income Range
                <option class="option-text-style" value="" >All
            </select>
        </div>
        
        <div class="form-group element-margin">
            <select  class="form-control">
                <option class="option-text-style" value="" disabled selected>Occupation
                <option class="option-text-style" value="" >All
            </select>
        </div>
        
        <div class="form-group element-margin">
             <select  class="form-control">
                <option class="option-text-style" value="" disabled selected>Age Group
                <option class="option-text-style" value="" >All
            </select>
        </div>
        
        <div class="form-group element-margin">
             <select  class="form-control">
                <option class="option-text-style" value="" disabled selected>Product name
                <option class="option-text-style" value="" >All
            </select>
        </div>
        
    </div>

    <div id="calenderPanel" style="margin-left:69px; top: 215px; background:#fff; display:none">
        <div class="divSpacePad">
            <label>Filter By Dates</label>
        </div>
        <div style="width:100%; background:#e7eef6" class="divSpacePad">
            <span>search by From Date</span>
        </div>
        
         <div class="form-group element-margin">
            <select class="form-control" ><!--ng-model="search.selectedMake" ng-change="selectedMake()"-->
                <option class="option-text-style" value="" disabled selected>00/00/0000</option>
                <!--<option class="option-text-style" ng-repeat="make in makes"   value={{make.name}}>{{make.name}}</option>-->
            </select>
        </div>
        
        <div style="width:100%; background:#e7eef6" class="divSpacePad">
            <span>Search By To Date</span>
        </div>
        <div class="form-group element-margin">
            <select class="form-control" ><!-- ng-model="search.selectedMake" ng-change="selectedMake()"-->
                <option class="option-text-style" value="" disabled selected>00/00/0000</option>
                <!--<option class="option-text-style" ng-repeat="make in makes"   value={{make.name}}>{{make.name}}</option>-->
            </select>
        </div>
        <!--<div class="form-group element-margin">
            <button class="btn btn-default">Search</button>    
        </div>-->
        <button type="button"  class="mb-sm btn btn-primary searchbtn" style="">Submit 
        </button>
        
    </div>

<script>
        
            
        $("#filterNav, #filterPanel").mouseover(function(){
            $('#filterPanel').show();
            $('#filterNav').addClass('sidebarItemActive');
            $('#filterNav img').attr('src','app/img/Dashboardassets/filter_hover.png');
            $('#dashboardNav').removeClass('sidebarItemActive');
            $('#dashboardNav img').attr('src','app/img/Dashboardassets/dashboard.png');
            $('#calenderNav').removeClass('sidebarItemActive');
            $('#calenderNav img').attr('src','app/img/Dashboardassets/calendar.png');
        });
        $("#filterNav, #filterPanel ").mouseout(function(){
            $('#filterPanel').hide();
            $('#filterNav').removeClass('sidebarItemActive');
            $('#filterNav img').attr('src','app/img/Dashboardassets/filter.png');
            $('#dashboardNav').addClass('sidebarItemActive');
            $('#dashboardNav img').attr('src','app/img/Dashboardassets/dashboard_hover.png');
            $('#calenderNav').removeClass('sidebarItemActive');
            $('#calenderNav img').attr('src','app/img/Dashboardassets/calendar.png');
        });
        
    
        $("#calenderNav, #calenderPanel").mouseover(function(){
            $('#calenderPanel').show();
            $('#filterNav').removeClass('sidebarItemActive');
            $('#filterNav img').attr('src','app/img/Dashboardassets/filter.png');
            $('#dashboardNav').removeClass('sidebarItemActive');
            $('#dashboardNav img').attr('src','app/img/Dashboardassets/dashboard.png');
            $('#calenderNav').addClass('sidebarItemActive');
            $('#calenderNav img').attr('src','app/img/Dashboardassets/calendar_hover.png');
        });
        $("#calenderNav, #calenderPanel ").mouseout(function(){
            $('#calenderPanel').hide();
            $('#filterNav').removeClass('sidebarItemActive');
            $('#filterNav img').attr('src','app/img/Dashboardassets/filter.png');
            $('#dashboardNav').addClass('sidebarItemActive');
            $('#dashboardNav img').attr('src','app/img/Dashboardassets/dashboard_hover.png');
            $('#calenderNav').removeClass('sidebarItemActive');
            $('#calenderNav img').attr('src','app/img/Dashboardassets/calendar.png');
        });
    
       
</script>
