<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar" ng-controller="TopnavbarController" style="height: 60px; border:0px; margin:0px; padding:0px; ">
	<!-- START navbar header-->
	<div class="navbar-header"></div>
	<!-- END navbar header-->
	<!-- START Nav wrapper-->
	<div class="nav-wrapper" style="height: 100%; vertical-align: middle;">
		<ul class="nav navbar-nav pull-left" style="  ">
			<!-- Search icon-->
			<li style="padding-top: 8px">
				<div class="navbar-header "
					style="float: Left; padding-right: 18px; padding-top: -15px;">
					<a href="#/" class="navbar-brand">				
						<div style="padding-left: 20px; padding-top: 5px; height: auto; width: 200%;">
							<img src="app/img/logo.png" alt="App Logo" class="img-responsive" />
						</div>
					</a>
				</div> <!-- START Alert menu-->
			</li>
		</ul>
		
		<ul class="nav navbar-nav pull-right" style="">
			
			<li style="padding-left: 10px;padding-top: 16px">
				<img alt="" src="app/img/Dashboardassets/alert.png">
				<span class="badge" style="background-color: #FEBD2D;margin-top: -22px;margin-left: -15px;">4</span>
			</li> 
			<li style="padding-left: 25px;padding-top: 8px">
				<div dropdown="" class="dropdown dropdown-list " class="col-sm-1" style="padding-right: 25px; border-left:1px solid #5195DD; padding-left:25px;">
				
					<a id="userInfoLink" dropdown-toggle="" style="  text-decoration: none;"> 
						<div >
							<span class="media-box-body">
								<span class="media-heading">
									<img src="app/img/Dashboardassets/user_pic.png" alt="Image"	class="media-box-object img-circle thumb48" style="display:inline;"/>
									<strong style="font-size: 14px; font: Roboto Light; color: #FEFEFE; display:inline;">{{names}}</strong>
								<label style="font-size: 14px; font: Roboto Light; color: #FEFEFE; display:inline;">({{rolename}})</label>
								</span>
							</span>
							<img src="app/img/Dashboardassets/user_dropdown_arrow.png" alt="Image" style="display:inline;"/>
						</div>
					</a>
					<!-- START Dropdown menu-->
					<ul id="userOptionListUl" class="dropdown-menu animated flipInX dropdown-menu.pull-right">
						<li id="userOptionList">
							<!-- START list group-->
							<div class="list-group" >
								<!-- list item-->
								<a href="#" class="list-group-item">
									<div class="media-box">

										<div class="media-box-body clearfix">
											<p class="m0">Setting</p>

										</div>
									</div>
								</a>
								<!-- list item-->
								<a href="#" class="list-group-item">
									<div class="media-box">

										<div class="media-box-body clearfix">
											<p class="m0">Change Password</p>

										</div>
									</div>
								</a>
								<!-- list item-->
								<a href="#" class="list-group-item">
									<div class="media-box">

										<div class="media-box-body clearfix">
											<p class="m0">Edit Profile</p>

										</div>
									</div>
								</a>
								<!-- list item-->
								<a href="#" class="list-group-item">
									<div class="media-box">

										<div class="media-box-body clearfix">
											<p ng-click="logOut()" class="m0">Logout</p>

										</div>
									</div>
								</a>

							</div> <!-- END list group-->
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</nav>