<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
     <!--  <a href="#/" class="navbar-brand">
         <div class="brand-logo">
         
            <img src="app/img/logo.png" alt="App Logo" class="img-responsive" />
         </div>
         <div style="padding:20px; height:200% ; width: 200%;">
             <img src="app/img/logo.png"  alt="App Logo" class="img-responsive" /> 
         </div>
      </a> -->
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper" style="padding-top: 10px">
      <!-- START Left navbar-->
   <!--    <ul class="nav navbar-nav" >
          <li>
            
            <a ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="hidden-xs">
               <em class="fa fa-navicon"></em>
            </a>
           
            <a toggle-state="aside-toggled" no-persist="no-persist" class="visible-xs sidebar-toggle">
               <em class="fa fa-navicon"></em>
            </a>
         </li>
      </ul> -->
      <!-- END Left navbar-->
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
         <!-- Search icon-->
           
          
         <li>
         
           <div class="navbar-header" class="col-sm-1" style="float: Left; padding-right: 18px; padding-top: -15px; ">
      <a href="#/" class="navbar-brand">
         <!-- <div class="brand-logo">
         
            <img src="app/img/logo.png" alt="App Logo" class="img-responsive" />
         </div> -->
         <div style="padding-left:20px; padding-top:5px; height:200% ; width: 200%;">
             <img src="app/img/logo.png"  alt="App Logo" class="img-responsive" /> 
         </div>
      </a>
   </div>
         
         
                  <!-- START Alert menu-->
         <div dropdown="" class="dropdown dropdown-list" class="col-sm-1" style="float: right; padding-right: 25px;">
            <a dropdown-toggle="">
              <!--  <em class="icon-user"></em> -->
                <img src="app/img/Dashboardassets/user_dropdown_arrow.png" alt="Image" />
            </a>
            <!-- START Dropdown menu-->
            <ul class="dropdown-menu animated flipInX">
               <li>
                  <!-- START list group-->
                  <div class="list-group">
                     <!-- list item-->
                     <a href="#" class="list-group-item">
                        <div class="media-box">
                          
                           <div class="media-box-body clearfix">
                              <p class="m0">Setting</p>
                              
                           </div>
                        </div>
                     </a>
                     <!-- list item-->
                     <a href="#" class="list-group-item">
                        <div class="media-box">
                          
                           <div class="media-box-body clearfix">
                              <p class="m0">Change Password</p>
                              
                           </div>
                        </div>
                     </a>
                     <!-- list item-->
                     <a href="#" class="list-group-item">
                        <div class="media-box">
                          
                           <div class="media-box-body clearfix">
                              <p class="m0">Edit Profile</p>
                              
                           </div>
                        </div>
                     </a>
                      <!-- list item-->
                     <a href="#" class="list-group-item">
                        <div class="media-box">
                           
                           <div class="media-box-body clearfix">
                              <p class="m0">Logout</p>
                              
                           </div>
                        </div>
                     </a>
                    
                  </div>
                  <!-- END list group-->
               </li>
            </ul>
            <!-- END Dropdown menu-->
         </div>
         
         
         
            <div class="col-sm-2 " style="float: right">
           
             <a href="#" class="media-box p mt0 ">
       
         <span class="pull-right">
            <span class="circle circle-success circle-lg"></span>
         </span>
         <span class="pull-left">
            <!-- Contact avatar-->
            <img src="app/img/Dashboardassets/user_pic.png" alt="Image" class="media-box-object img-circle thumb48" />
         </span>

         <!-- Contact info-->
         <div style="width:100%; padding-left: 40%;">
         <span class="media-box-body" >
            <span class="media-heading" >
               <strong style="font-size:14px;font:Roboto Light; color: #FEFEFE;  " >John Simth</strong>
               
            </span>
         </span>
         </div>
      </a>
      </div>
      
          
               
               <div class="col-sm-1" style="float: right ;border-right: 2px solid #5195DD;">
      		<a dropdown-toggle="" >
               <em  class="icon-bell"></em>
               <div class="label label-yellow">7</div>
            </a>
           </div>
             
               <div class="form-group">
               
               <div class="col-sm-3" style="float: right;">
                
                  <div class="input-group">
                  <span class="input-group-addon" style="background-color: #0A427D; border: 1px solid #5195DD"><img type="button" style="height: 65%;" ng-src="app/img/Dashboardassets/menu_icon.png"/></span>
                     <input type="text" placeholder="Search..." class="form-control" style="font-size: 14px; color: #AFD6FF; background-color: #0A427D; border: 1px solid #5195DD;" />
                     <span class="input-group-btn">
                        <button type="button"  class="btn btn-default" style="background-color: #0A427D; border: 1px solid #5195DD"><img style="height: 65%;" ng-src="app/img/Dashboardassets/search.png"/></button>
                     </span>
                  </div>
               </div>
            </div>
      	
      		 
      
         </li>
         
         
           
           
           <!-- START Alert menu-->
       <!--   <li dropdown="" class="dropdown dropdown-list">
            <a dropdown-toggle="" >
               <em  class="icon-bell"></em>
               <div class="label label-yellow">7</div>
            </a>
           
         </li>
         END Alert menu
         
         <li>
             <a href="#" class="media-box p mt0">
       
         <span class="pull-right">
            <span class="circle circle-success circle-lg"></span>
         </span>
         <span class="pull-left">
            Contact avatar
            <img src="app/img/Dashboardassets/user_pic.png" alt="Image" class="media-box-object img-circle thumb48" />
         </span>

         Contact info
         <div style="width:100%; padding-left: 50%">
         <span class="media-box-body">
            <span class="media-heading">
               <strong style="font-size:14px;font:Roboto Light;" >John Simth</strong>
               
            </span>
         </span>
         </div>
      </a>
         </li>
          -->
         
 <!--          START Alert menu
         <li dropdown="" class="dropdown dropdown-list">
            <a dropdown-toggle="">
               <em class="icon-user"></em>
                <img src="app/img/Dashboardassets/user_dropdown_arrow.png" alt="Image" />
            </a>
            START Dropdown menu
            <ul class="dropdown-menu animated flipInX">
               <li>
                  START list group
                  <div class="list-group">
                     list item
                     <a href="#" class="list-group-item">
                        <div class="media-box">
                          
                           <div class="media-box-body clearfix">
                              <p class="m0">Setting</p>
                              
                           </div>
                        </div>
                     </a>
                     list item
                     <a href="#" class="list-group-item">
                        <div class="media-box">
                          
                           <div class="media-box-body clearfix">
                              <p class="m0">Change Password</p>
                              
                           </div>
                        </div>
                     </a>
                     list item
                     <a href="#" class="list-group-item">
                        <div class="media-box">
                          
                           <div class="media-box-body clearfix">
                              <p class="m0">Edit Profile</p>
                              
                           </div>
                        </div>
                     </a>
                      list item
                     <a href="#" class="list-group-item">
                        <div class="media-box">
                           
                           <div class="media-box-body clearfix">
                              <p class="m0">Logout</p>
                              
                           </div>
                        </div>
                     </a>
                    
                  </div>
                  END list group
               </li>
            </ul>
            END Dropdown menu
         </li> -->
         <!-- END Alert menu-->
         
         
         
         
        <!--  START Offsidebar button -->
         <!-- <li>
            <a toggle-state="offsidebar-open" no-persist="no-persist">
               <em class="icon-notebook"></em>
            </a>
         </li> -->
         <!-- END Offsidebar menu-->
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
   <!-- START Search form-->
   <form role="search" action="search.html" class="navbar-form">
      <div class="form-group has-feedback">
         <input type="text" placeholder="{{ 'topbar.search.PLACEHOLDER' | translate }}" class="form-control" />
         <div search-dismiss="search-dismiss" class="fa fa-times form-control-feedback"></div>
      </div>
      <button type="submit" class="hidden btn btn-default">Submit</button>
   </form>
   <!-- END Search form-->
</nav>
<!-- END Top Navbar-->