<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar" ng-controller="TopnavbarController" style="height: 60px; border:0px; margin:0px; padding:0px; ">
	<!-- START navbar header-->
	<div class="navbar-header"></div>
	<!-- END navbar header-->
	<!-- START Nav wrapper-->
	<div class="nav-wrapper" style="height: 100%; vertical-align: middle;">
		<ul class="nav navbar-nav pull-left" style="  ">
			<!-- Search icon-->
			<li style="padding-top: 8px">
				<div class="navbar-header "
					style="float: Left; padding-right: 18px; padding-top: -15px;">
					<a href="#" class="navbar-brand" style="cursor:default">				
						<div style="padding-left: 20px; padding-top: 5px; height: auto; width: 200%;">
							<img src="app/img/logo.png" alt="App Logo" class="img-responsive" style="  margin-left: -5px;" />
							
						</div>
					</a>
				</div> <!-- START Alert menu-->
			</li>
			<li style="padding-top: 18px;padding-left: 32px;">
			<strong style="font-size: 14px; font: Roboto Light; color: #FEFEFE; display:inline;">IOT for Electronics</strong>
			</li>
		</ul>
		
		<ul class="nav navbar-nav pull-right" style="">
		<li style="padding-left: 10px;padding-top: 16px">
						<span><a href="app/img/Dashboardassets/User's Manual_Electronic_Appliance.pdf" title="Download User Manual" download="User's Manual_Electronic_Appliances.pdf" target="_blank" ><img alt="" src="app/img/Dashboardassets/icon_userguide.png"></a></span>
		</li>  

			<li style="padding-left: 10px;padding-top: 16px" ng-init="getNewNotificationCount()" ng-click="clearNotificationCount()">
				<img alt="" src="app/img/Dashboardassets/alert.png">
				<span class="badge" style="background-color: #FEBD2D;margin-top: -22px;margin-left: -15px;" ng-show="notificationAlertFlag">{{notificationCount}}</span>
			</li> 
			<li style="padding-left: 25px;padding-top: 8px">
				<div dropdown class="dropdown" class="col-sm-1" style="padding-right: 25px; border-left:1px solid #5195DD; padding-left:25px;">
				
					<a id="userInfoLink" data-toggle="dropdown" class="dropdown-toggle" style="  text-decoration: none;"> 
						<div >
							<span class="media-box-body">
								<span class="media-heading">
									<img src="app/img/Dashboardassets/user_pic.png" alt="Image"	class="media-box-object img-circle thumb48" style="display:inline;"/>
									<strong style="font-size: 12px; font: Roboto Light; color: #FEFEFE; display:inline-block;position: relative;
    top: 1px;
    margin-right: 5px;"><span>{{names}}</span><span style="
    position: relative;
    display: block;
    top: 9px;
    left: 0px;
    line-height: 7px;
">{{rolename}}</span></strong>
								</span>
							</span>
							<img src="app/img/Dashboardassets/user_dropdown_arrow.png" alt="Image" style="display:inline;"/>
						</div>
					</a>
					<!-- START Dropdown menu-->
					<ul id="userOptionListUl" dropdown-menu class="dropdown-menu">
						<li id="userOptionList">
							<!-- START list group-->
							<div class="list-group" >
								<!-- list item-->
								<a href="#" class="list-group-item" ng-if="roleKey != 'mkt_manager'">
									<div class="media-box">

										<div class="media-box-body clearfix">
											<p class="m0 option-text-style" ng-click="loadNotificationConf()">Settings</p>

										</div>
									</div>
								</a>
								<!-- list item-->
								<a href="#" class="list-group-item inactiveLink">
									<div class="media-box">

										<div class="media-box-body clearfix">
											<p class="m0 option-text-style">Change Password</p>

										</div>
									</div>
								</a>
								<!-- list item-->
								<a href="#" class="list-group-item inactiveLink">
									<div class="media-box">

										<div class="media-box-body clearfix">
											<p class="m0 option-text-style">Edit Profile</p>

										</div>
									</div>
								</a>
								<!-- list item-->
								<a href="#" class="list-group-item">
									<div class="media-box">

										<div class="media-box-body clearfix">
											<p ng-click="logOut()" class="m0 option-text-style">Logout</p>

										</div>
									</div>
								</a>

							</div> <!-- END list group-->
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</nav>