#dropdown {
	color: blue;
	border: 0;
}

#dashboardNav a {
	color: #222222;
	font-size: 14px;
	font: Roboto Light;
}

#dashboardNav a:first-child {
	color: #0F64BC;
}

#dashboardNav span {
	font-size: 14px;
	font: Roboto;
	color: #222222;
	padding-left: 15px;
	padding-right: 15px;
}

#filterdive {
	position: relative;
	min-height: 48px;
	z-index: 0;
}

@media (min-width: 992px) {
  #filterdive {
   	position: absolute;
   	z-index: 99;
  }
}

#filterDivId {
	margin-left: inherit
}

#applyFilter {
	min-width: 114px;
	background-color: #4C74E2;
	height: 34px;
	font-family: Roboto;
	font-size: 15px;
	margin: auto;
	margin-left: 15px;
	margin-right: 0px;
	color: #FFFFFF;
}

#applyFilterdiv {
	margin-left: 15px;
	padding: 0px;
}

#filtericoncontroller {
	margin-top: 58px;
}

#formgrp {
	width: 100% auto;
}

#formarray {
	height: 26px;
	background: #91aed3;
	padding: 4px;
	margin: 1px;
	display: inline-block;
	color: fff;
	border-radius: 2px !important;
	font-size: 11pt;
}

#filetclose {
	color: #fff;
	font-size: 11pt;
}

.salesname {
	padding-right: 0px;
	padding-left: 3px;
	margin-top: 2px"
}

#maximize {
	padding: 0px;
	margin-top: 10px;
	margin-right: 9px;
	height: 15px;
	width: 20px;
}

#infoicons {
	padding: 0px;
	height: 15px;
	width: 15px;
	margin-right: 5px;
	margin-top: 9px;
}

#piecontainer,#bar,#container,#map-container {
	width: 100%;
	height: 100%;
}

#mapMinImg {
	padding: 0px;
	height: 15px;
	width: 15px;
}

#mapNormal {
	width: 100%;
	height: 373px;
}

#mapNormalinner {
	font-family: Roboto;
	font-size: 15px;
	padding-left: 20px;
	padding-top: 10px
}

#mapMaxImg {
	padding: 0px;
	height: 15px;
	width: 15px;
}

#mapinfo,#gridinfo {
	padding: 0px;
	height: 15px;
	width: 15px;
	margin-right: 5px;
}

.map-mapDiv {
	width: 100%;
	height: 325px
}

.insite {
	height: 373px;
	background-color: #ffffff;
}

#insiteinfo {
	padding: 0px;
	height: 15px;
	width: 15px;
}

.insitetitle {
	font-family: Roboto;
	font-size: 15px;
}

#insitescroll {
	overflow-y: scroll;
	overflow-x: hidden;
}

.insiteinner {
	width: 420px;
	height: 310px;
}

.insitelines {
	background-repeat: repeat-y;
}

#nav2 {
	height: 100%;
	width: 310px;
}

.isLoading {
	display: block;
	height: 50%;
	text-align: center;
	color: #4C74E2;
	padding-top: 30%;
	padding-bottom: 15%;
	border-bottom-color: transparent;
	background-color: transparent;
	font-size: 18px
}

.nodata {
	display: block;
	height: 50%;
	text-align: center;
	color: #e60000;
	padding-top: 30%;
	padding-bottom: 15%;
	border-bottom-color: transparent;
	background-color: transparent;
	font-size: 18px
}

#twitericon {
	margin-top: 10px;
	margin-left: -5px;
}

#twiterarrow {
	margin-top: 70px
}

#gridNormal1 {
	height: 455px;
}

#maximisedgridhead {
	font-family: Roboto;
	font-size: 15px;
	padding-left: 20px;
	padding-top: 10px;
}

#gridCloseImg,#gridMaxImg,#notfinfo {
	padding: 0px;
	height: 15px;
	width: 15px;
}

.maxgridnodata {
	font-weight: bold;
	padding-top: 10%;
}

#gridfootermsg,#maxfootr {
	margin-top: -14px;
}

#gridNormal {
	height: 355px;
}

#normalgridhead {
	font-family: Roboto;
	font-size: 15px;
	padding-left: 20px;
	padding-top: 10px;
}

#notifheight {
	height: 355px;
}

#notificationtitl {
	font-family: Roboto;
	font-size: 15px;
}

.notflist {
	height: 310px;
	overflow-y: scroll
}

.notifprogress {
	height: 10px;
}

.notifalrtmsg {
	display: block;
	height: 50%;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 15%;
	border-bottom-color: transparent;
	color: #4C74E2;
	background-color: transparent;
	font-size: 18px
}

#nav3 {
	margin-right: 30px;
}


.reportnvwidth {
	
	margin-left: 15px !important;
	padding-right: 0px;
	padding-left: 0px;
}

.reportnvwidth1 {
	
	margin-left: 15px;
	padding-right: 0px;
	padding-left: 0px;
}


.reportnvwidth2 {
	
	margin-left: 15px !important;
	padding-right: 0px;
	padding-left: 0px;
}

.reportnvwidth3 {
	
	padding-right: 0px;
	/* padding-left: 50px; */
	padding-top: 10px;
}

.datepicker {
	max-width: 150px;
	margin-left: 15px !important;
	padding-right: 0px;
	padding-left: 0px;
}

.internaldate {
	padding-top: 0;
	height: 35px;
}

.todatepicker {
	max-width: 150px;
	padding-right: 0px;
	/* padding-left: 80px; */
	padding-top: 10px;
}

.todatedive {
	margin-left: 15px !important;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 10px;
}

@media (min-width: 992px) {
  .reportnvwidth1 {
		max-width: 100%;
		margin-left: 15px;
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.reportnvwidth2 {
		max-width: 100%;
		margin-left: 15px !important;
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.reportnvwidth3 {
		max-width: 100%;
		padding-right: 0px;
		padding-left: 50px;
		padding-top: 10px;
	}
	
	.datepicker {
		max-width: 150px;
		margin-left: 15px !important;
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.internaldate {
		padding-top: 0;
		height: 35px;
	}
	
	.todatepicker {
		max-width: 150px;
		padding-right: 0px;
		padding-left: 80px;
		padding-top: 10px;
	}
	
	.todatedive {
		max-width: 150px;
		padding-right: 0px;
		padding-left: 0px;
		padding-bottom: 10px;
	}
}

.reportfiltrdv {
	margin-right: 15px ! important;
	padding: 0px;
}

.reportgrid {
	margin-top: 41px;
	padding: 0px;
}

#gridAdjustHeight {
	height: auto;
	margin-left: -15px;
}

#reportgridtittle {
	height: 30px;
	padding-top: 5px;
	padding-left: 10px;
}

#reportgridinfo {
	margin-right: 5px;
	margin-top: -20px;
	padding: 0px;
	height: 15px;
	width: 15px;
}

.reportgridstyle {
	font-family: Roboto;
	font-size: 15px;
}

#downloadreport {
	margin-left: 1px;
	marker-offset: -18px;
}

#Nodata{
	margin-top: 15% 
}
