.topnavbar {
	min-height: 60px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: #e60000;
}

.nav-wrapper {
	height: 100%;
	vertical-align: middle;
}

.navstyle {
	cursor: default;
}

.navitem {
	padding-top: 8px;
}

.logodive {
	padding-left: 20px;
	padding-top: 5px;
	height: auto;
	width: 200%;
}

.logo {
	margin-left: -8px;
	margin-top: -5px;
}

.captiondiv {
	padding-top: 18px;
	padding-left: 32px;
}

.captionfont {
	font-size: 14px;
	font: Roboto Light;
	color: #FEFEFE;
	display: inline;
}

.downloadicon {
	padding-left: 10px;
	padding-top: 16px
}

.alertimag {
	padding-left: 10px;
	padding-top: 16px;
	opacity: 0.3;
    filter: alpha(opacity=40);
}

.notificationcount {
	background-color: #FEBD2D;
	margin-top: -22px;
	margin-left: -15px;
}

.dropdownli {
	padding-left: 25px;
	padding-top: 8px
}

.dropdowndiv {
	padding-right: 25px;
	border-left: 1px solid #772020;
	padding-left: 25px;
}

#userInfoLink {
	text-decoration: none;
}

.thumb48,#thumb48 {
	display: inline;
}

.name {
	font-size: 12px;
	font: Roboto Light;
	color: #FEFEFE;
	display: inline-block;
	position: relative;
	top: 1px;
	margin-right: 5px;
}
.rolename{
	 position: relative;
    display: block;
    top: 9px;
    left: 0px;
    line-height: 7px;
}