<!-- START Top Navbar-->
<link href="css/topnavbar.css" rel="stylesheet" />
<nav  role="navigation" class="navbar topnavbar" ng-controller="TopnavbarController">
	<!-- START navbar header-->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          		<div class="navbar-brand" >
						<div class="logodive" style="width:230px; margin-left: 14px; margin-top: 9px">
							<div style="float: left">
							<img src="img/logo.png" alt="App Logo" class="img-responsive logo"  />
							</div>
							<div style="float: left">
								<strong class="captionfont" translate="{{'app_name'}}"></strong>
							</div>
						</div>
				</div>

      	
	</div>
	<!-- END navbar header-->
	<!-- START Nav wrapper-->
	<div class="collapse navbar-collapse nav-wrapper" id="navbar" style="overflow-y: visible;">
		<!-- <ul class="nav navbar-nav pull-left navstyle" >
			
			<li class="navitem">
				<div class="navbar-header "
					>
					<a href="#" class="navbar-brand" >
					<div class="logodive">
							<img src="img/logo.png" alt="App Logo" class="img-responsive logo"  />

						</div>
					</a>
				</div> 
			</li>
			<li class="captiondiv">
			<strong class="captionfont" translate="{{'app_name'}}"></strong> 
			</li>
		</ul> -->

		<ul class="nav navbar-nav pull-right" >
		<li class="downloadicon">
						<span><a href="img/Dashboardassets/User's Manual_Electronic_Appliance.pdf" title="{{'user_manual_download_tooltip' | translate}}" download="User's Manual_Electronic_Appliances.pdf" target="_blank" ><img alt="" src="img/Dashboardassets/icon_userguide.png"></a></span>
		</li>

			<li class="alertimag">
				<img alt="" src="img/Dashboardassets/alert.png">
			</li>
			<li class="dropdownli">
  			<!-- <select class="dropdown" name="" ng-model="language.selected" ng-change="changeLanguage()" style="margin-top: 18px">
				<option class="option-text-style" value="" disabled selected>Language</option>
				<option class="option-text-style" ng-repeat="(key, value) in language.available"
					value={{key}}>{{value}}</option>
			</select> -->
			</li>
			<li class="dropdownli">
				<div dropdown class="dropdown dropdowndiv" class="col-sm-1 " >

					<a id="userInfoLink" data-toggle="dropdown" class="dropdown-toggle" >
						<div >
							<span class="media-box-body">
								<span class="media-heading">
									<img src="img/Dashboardassets/user_pic.png" alt="Image"	class="media-box-object img-circle thumb48" />
									<strong class="name"><span>{{names}}</span><span class="rolename">{{rolename}}</span></strong>
								</span>
							</span>
							<img src="img/Dashboardassets/user_dropdown_arrow.png" alt="Image" id="thumb48"/>
						</div>
					</a>
					<!-- START Dropdown menu-->
					<ul id="userOptionListUl" dropdown-menu class="dropdown-menu">
						<li id="userOptionList">
							<!-- START list group-->
							<div class="list-group" >
								<!-- list item-->
								<a href="#/app/notificationconf" class="list-group-item" ng-if="roleKey != 'mkt_manager'">
									<div class="media-box">

										<div class="media-box-body clearfix">
											<p class="m0 option-text-style" ng-click="loadNotificationConf()" translate="settings"></p>

										</div>
									</div>
								</a>
								<!-- list item-->
								<a href="#" class="list-group-item inactiveLink">
									<div class="media-box">

										<div class="media-box-body clearfix">
											<p class="m0 option-text-style-disable" translate="change_password"></p>

										</div>
									</div>
								</a>
								<!-- list item-->
								<a href="#" class="list-group-item inactiveLink">
									<div class="media-box">

										<div class="media-box-body clearfix">
											<p class="m0 option-text-style-disable" translate="edit_profile"></p>

										</div>
									</div>
								</a>
								<!-- list item-->
								<a href="#" class="list-group-item" ng-click="logOut()">
									<div class="media-box">
										<div class="media-box-body clearfix">
											<p class="m0 option-text-style"  translate="logout"></p>
										</div>
								    </div>
								</a>
							</div> <!-- END list group-->
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</nav>
