<link href="css/charts.css" rel="stylesheet" />
<link href="css/table.css" rel="stylesheet" />
<link href="css/dashboard.css" rel="stylesheet" />
<div class="somediv hidden" id="hiddenDiv"></div>
<div class="chart-somediv hidden" id="hiddenDiv"></div>
<div class="map-somediv hidden" id="hiddenDivMap"></div>
<div class="hidden gridMaximize" id="gridMax"></div>
<h3>


	<!-- START Language list-->

	<!-- END Language list    -->

	<div class="pull-right" >


      {{'app_dashboard_last_updated_text' | translate}} {{currentDate}}
   </div>

	<div id="dashboardNav" ng-controller="MyviewController">
		<a ng-click="getUrl()"
			translate="{{'dashboard_title'}}"></a> <span
			>
			></span> <a href="#"
			translate="{{'dashboard'}}"></a>
	</div>


</h3>




<div class="row col-lg-12  filter-filterDiv" id="filterdive" >





	<div  class=" col-lg-10"  id="filterDivId" id="filterDivId">

		<div class="col-lg-2 filterItem">
			<select name="" class="form-control filter-selectStyle"
				ng-model="region.states" ng-change="selectCities()">
				<option class="option-text-style" value="" disabled selected translate="{{'states'}}">



				<option class="option-text-style" value="">All
				<option class="option-text-style" ng-repeat="state in states"
					value={{state.name}}>{{state.name}}</option>
			</select>


		</div>

		<div class="col-lg-2 filterItem">
			<select name="" class="form-control filter-selectStyle"
				ng-model="region.cities" ng-change="selectZip()">
				<option class="option-text-style" value="" disabled selected translate="{{'cities'}}">



				<option class="option-text-style" value="">All
				<option class="option-text-style" ng-repeat="city in cities"
					value={{city.city}}>{{city.city}}

			</select>

		</div>

		<div class="col-lg-2 filterItem">
			<select name="" class="form-control filter-selectStyle"
				ng-model="region.zip_codes">
				<option class="option-text-style" value="" disabled selected translate="{{'zip_code'}}">
				<option class="option-text-style" value="">All
				<option class="option-text-style" ng-repeat="zip in zips"
					value={{zip.zip_code}}>{{zip.zip_code}}

			</select>

		</div>

		<div class="col-lg-2 filterItem">
			<select name="" class="form-control filter-selectStyle"
				ng-model="timescale.years">
				<option class="option-text-style" value="" disabled selected translate="{{'year'}}">



				<option class="option-text-style" value="">All
				<option class="option-text-style"
					ng-repeat="sales_year in sales_years" value={{sales_year.year}}>{{sales_year.year}}



			</select>

		</div>

		<div class="col-lg-2 filterItem">
			<select name="" class="form-control filter-selectStyle"
				ng-model="timescale.quarters" ng-change="quarterMonths()">
				<option class="option-text-style" value="" selected disabled translate="{{'quarter'}}">



				<option class="option-text-style" value="">All
				<option class="option-text-style" ng-repeat="quarter in quarters"
					value={{quarter.id}}>{{quarter.value}}
			</select>

		</div>

		<div class="col-lg-2 filterItem">
			<select name="" class="form-control filter-selectStyle"
				ng-model="timescale.months">
				<option class="option-text-style" value="" selected disabled translate="{{'month'}}">



				<option class="option-text-style" value="">All
				<option class="option-text-style" ng-repeat="month in months"
					value={{month.id}}>{{month.value}}
			</select>

		</div>






	</div>
 <div class="col-lg-2 "   id="applyFilterdiv" >
             		<button ng-disabled="isApplyFiterButton" class="btn btn-default pull-right "  id="applyFilter" ng-click="tryit()" translate="{{'apply_filter'}}"></button>

				</div>


</div>




<div class="row" ng-controller="filterIconController" id="filtericoncontroller">
	<div  ng-show="someArray.length > 0" class="form-group  col-lg-12" id="formgrp">
	    <div  ng-repeat="va in someArray"
	         id="formarray"> {{va.value}} <span style="color:#fff;font-size:11pt;" ng-click='removeFilter(va)'>X</span></div>
	</div>
</div>

<div class="row">
	<!-- START dashboard main content-->


	<div class="col-lg-4 " ng-controller="myController" ng-init="init()">
		<div class="chart-chartDiv" id="chartParent">
			<div class="chart-filterDiv " id="chartFilterDivId">
				<select ng-class="{'chart-selectStyle2': isActive1}"
					ng-click="activeButton(1)" id="first-chart-select"
					class="chart-selectStyle col-md-4 salesname" ng-change="Engdisp($index)"
					ng-model="selectedSensors"
					>

					<option class="chart-option-text-style" disabled value="">Please
						select</option>
					<option class="chart-option-text-style" ng-if="$index==0"
						ng-init="Engdisp($index)" selected
						ng-repeat="sensor in sensorsList track by $index"
						value="{{$index}}">{{sensor.displayName}}</option>
					<option class="chart-option-text-style" ng-if="$index!=0"
						ng-repeat="sensor in sensorsList track by $index"
						value="{{$index}}">{{sensor.displayName}}</option>
				</select> <select ng-class="{'chart-selectStyle2': isActive2}"
					ng-click="activeButton(2)" id="second-chart-select"
					class="chart-selectStyle col-md-3 chart-border salesname"
          ng-model='relativeTimeScale'
					>
					<option class="chart-option-text-style" value="1">Last 1
						day
					<option class="chart-option-text-style" value="2" selected="selected">Last
						7 days
					<option class="chart-option-text-style" value="3">Last 30
						days
					<option class="chart-option-text-style" value="4">Last 3
						months
					<option class="chart-option-text-style" value="5">Last 6
						months
					<option class="chart-option-text-style" value="6">Last 1
						year
					<option class="chart-option-text-style" value="7">Last 3
						years
				</select> <select ng-class="{'chart-selectStyle2': isActive3}"
					ng-click="activeButton(3)" id="third-chart-select"
					class="chart-selectStyle col-md-3 salesname"
					ng-change="dispChart(selectedChart)" ng-model="selectedChart"
					>
					<option class="chart-option-text-style"
						ng-init="dispChart(selectedChart)"
						ng-repeat="chart in EngchartTypes" value="{{chart}}">{{chart}}</option>
				</select> <img id="maximize" class="pull-right col-md-1"

					src="img/Dashboardassets/icon_maximize.png"
					ng-click="maximize()"></img> <img id="close"
					class=" col-md-1 image-margin close-image-size hidden pull-right"
					src="img/Dashboardassets/close.png" ng-click="closing()">
					<img class="col-md-1 pull-right"
						id="infoicons"
						src="img/Dashboardassets/help.png"
						data-toggle="popover" data-placement="left"
						data-content="Chart Area provides a distribution of information through Bar and Pie Charts which illustrates the selections made in the Top and Side Bar Filters."
						data-trigger="hover"></img>
			</div>

			<div class="graphDiv">
				<span ng-show="progress" class="progress-chart"><img alt=""
					src="img/icon-load.gif" width="25%" ;height="25%"> </span>
				<div class="errorClass" ng-show="isError"><b>{{msg3}}</b></div>
				<div id="container"></div>
			</div>


		<!--for maximization-->
		<div class="chart-chartDiv hidden graphDiv-maximize" id="chartParent4">\
		     <div class="chart-filterDiv " id="chartFilterDivId">
				<img id="maximize" class="pull-right col-md-1" src="img/Dashboardassets/icon_maximize.png" ng-click="maximize()">						    
				<img id="close" class=" col-md-1 image-margin close-image-size hidden pull-right"
					 src="img/Dashboardassets/close.png" ng-click="closing()">				                        
			    <img class="col-md-1 pull-right" id="infoicons" src="img/Dashboardassets/help.png" data-toggle="popover"
				     data-placement="bottom" data-content="Chart Area provides a distribution of information through Bar and Pie Charts which illustrates the selections made in the Top and Side Bar Filters."
				     data-trigger="hover"></img>
			 </div>  
			 <span ng-show="progress" class="progress-chart"> <img alt="" src="img/icon-load.gif" width="25%" ;height="25%"></span> 
		     <div id="maxengcontainer"></div>
	    </div>
		<!--for max end -->

	</div>
</div>

	<!-- Start Editing For Map Maximizing -->
      <div class="col-lg-4" >
            <div class="panel panel-default hidden " id="mapNormal1" ng-controller="mapController"
            ng-init="plotMapFunction('map-maxcontainer')">
            <div class="panel-heading md-body-2" id="mapMaximizedlinner">
                        <b translate="{{'map_title'}}"></b> <img id="mapMaxImg"
                              class="pull-right col-md-1"
                              src="img/Dashboardassets/icon_maximize.png"
                              ng-click="maximizeMap()"></img> <img id="mapMinImg"
                              class="pull-right hidden col-md-1 "
                              src="img/Dashboardassets/close.png"></img> <img
                              class="pull-right col-md-1" id="mapinfo"
                              src="img/Dashboardassets/help.png" data-toggle="popover"
                              data-placement="bottom"
                              data-content="Bubble denoting a place, Map marks the distribution of sold washing machines to identify the corresponding locations."
                              data-trigger="hover"></img>
                  </div>
                  <div class="map-maxDiv">
                        <span ng-show="mapProgress" class="progress-chart"> <img
                              id="loading" alt="" src="img/icon-load.gif" width="25%";height="25%">
                        </span>
                        <div class="errorClass" ng-show="isError"><b>{{msg3}}</b></div>
                        <div id="map-maxcontainer"></div>
                  </div>
            </div>
            <div class="panel panel-default" id="mapNormal" ng-controller="mapController"
            ng-init="plotMapFunction('map-container')">
                  <div class="panel-heading md-body-2" id="mapNormalinner">
                        <b translate="{{'map_title'}}"></b> <img id="mapMaxImg"
                              class="pull-right col-md-1"
                              src="img/Dashboardassets/icon_maximize.png"
                              ng-click="maximizeMap()"></img> <img id="mapMinImg"
                              class="pull-right hidden col-md-1 "
                              src="img/Dashboardassets/close.png"></img> <img
                              class="pull-right col-md-1" id="mapinfo"
                              src="img/Dashboardassets/help.png" data-toggle="popover"
                              data-placement="left"
                              data-content="Bubble denoting a place, Map marks the distribution of sold washing machines to identify the corresponding locations."
                              data-trigger="hover"></img>
                  </div>

                  <div class="map-mapDiv">
                        <span ng-show="mapProgress" class="progress-chart"> <img
                              id="loading" alt="" src="img/icon-load.gif" width="25%";height="25%">
                        </span>
                        <div class="errorClass" ng-show="isError"><b>{{msg3}}</b></div>
                        <div id="map-container"></div>
                  </div>
            </div>
      </div>
      <!-- End of Editing For Map Maximizing -->



	<div class="col-lg-4 insite" >
		<div class="panel panel-default insite">
			<div class="panel-heading">
				<div class="pull-right ">
					<img class="col-md-1"
						id="insiteinfo"
						src="img/Dashboardassets/help.png"
						data-toggle="popover" data-placement="left"
						data-content="Insights area frames up more specific details to convey an idea about the cause and effect on the information filtered."
						data-trigger="hover"></img>
				</div>

				<div class="panel-title md-body-2 insitetitle"
					translate="{{'insights_title'}}"></div>
			</div>

			<scrollable height="230" class="list-group list-scroll"
				ng-controller="InfiniteScrollController">


			<div infinite-scroll-distance="1"
				 id="insitescroll">


				<div class="col-lg-6 insiteinner">

					<div class="col-lg-6" id="nav1" >

							<div
								class="alert-warning media-box-object img-circle thumb32 text-center">
								<h2 class="mv-lg">1</h2>
							</div>
							<img src="img/Dashboardassets/lines.jpg" class="thumb33"
								alt="Image" class="insitelines" />



							<div
								class="alert-warning media-box-object img-circle thumb32 text-center"
								style="width: 25px; height: 175px">
								<h2 class="mv-lg">2</h2>
							</div>
							<img src="img/Dashboardassets/lines.jpg" class="thumb33"
								alt="Image" class="insitelines" />


							<div
								class="alert-warning media-box-object img-circle thumb32 text-center"
								style="width: 25px; height: 175px">
								<h2 class="mv-lg">3</h2>
							</div>

					</div>

					<div class="col-lg-6" id="nav2" style="height: 100%;">
						<div id="most-fault-container"
							ng-init="getMostFaults('most-fault-container')"
							class="insights-insightsDiv">
							<span
								class="isLoading"
								ng-show="isLoading" class="glyphicon glyphicon-alert"
								aria-hidden="true"> <span class="sr-only">Error:</span>
								{{msg}}
							</span> <span
								 class="nodata"
								ng-show="isError||isNoDataDB" class="glyphicon glyphicon-alert"
								aria-hidden="true"> <span class="sr-only">Error:</span>
								{{msg}}
							</span>

						</div>
						<div id="least-fault-container"
							ng-init="getLeastFaults('least-fault-container')"
							class="insights-insightsDiv">
							<span
								class="isLoading"
								ng-show="isLoading" class="glyphicon glyphicon-alert"
								aria-hidden="true"> <span class="sr-only">Error:</span>
								{{msg}}
							</span> <span
								 class="nodata"
								ng-show="isError||isNoDataDB" class="glyphicon glyphicon-alert"
								aria-hidden="true"> <span class="sr-only">Error:</span>
								{{msg}}
							</span>
						</div>
						<div id="common-fault-container"
							ng-init="getCommonFaults('common-fault-container')"
							class="insights-insightsDiv">
							<span
								class="isLoading"
								ng-show="isLoading" class="glyphicon glyphicon-alert"
								aria-hidden="true"> <span class="sr-only">Error:</span>
								{{msg}}
							</span> <span
								 class="nodata"
								ng-show="isError||isNoDataDB" class="glyphicon glyphicon-alert"
								aria-hidden="true"> <span class="sr-only">Error:</span>
								{{msg}}
							</span>
						</div>
					</div>
				</div>
			</scrollable>

		</div>
	</div>
	<!-- END dashboard sidebar-->

</div>


</div>


<div class="row">

	<!-- START dashboard main content-->





	<div class="col-lg-8">
		<!-- START panel -->
<div class="panel panel-default datagrid hidden" id="gridNormal1">
			<div class="panel-heading md-body-2"
				id="maximisedgridhead">
				{{'data_grid_title' | translate}}<img id="gridMaxImg"
					class="pull-right col-md-1"

					src="img/Dashboardassets/icon_maximize.png"
					ng-click="maximizeGrid()"></img> <img id="gridCloseImg"
					class="pull-right hidden col-md-1 "

					src="img/Dashboardassets/close.png" ng-click="closeGrid()"></img>
					<img class="pull-right col-md-1"
							id="gridinfo"
						src="img/Dashboardassets/help.png"
						data-toggle="popover" data-placement="bottom"
						data-content="Includes the filtered records of selections from most common type of machines to the consumptions it made to fulfill a wash."
						data-trigger="hover"></img>
			</div>


			<div class="panel-body" id="gridHideNodata">
				<!--   START table-responsive -->
				<div id="gridAdjustHeight" class="panel panel-default">
					<div class="tableHeader">
						<p class="text-center" translate="{{'make'}}"></p>
						<p class="text-center" translate="{{'model'}}"></p>
						<p class="text-center">
							{{'water_used' |translate}}<span class='notbold'> (G)</span>
						</p>
						<p class="text-center">
							{{'energy_used' |translate}}<span class='notbold'> (kw)</span>
						</p>
						<p class="text-center">
							{{'wash_cycle' |translate}}<span class='notbold'> (min)</span>
						</p>
						<p class="text-center">{{'wash_cycles' |translate}}</p>
						<p class="text-center">
							{{'temperature' |translate}}<span class='notbold'> (f)</span>
						</p>
						<p class="text-center">
							{{'detergent_used' |translate}}<span class='notbold'> (gms)</span>
						</p>
						<p class="text-center">
							{{'humidity' |translate}}<span class='notbold'> (%)</span>
						</p>
						<p class="text-center">
							{{'load' |translate}}<span class='notbold'> (kgs)</span>
						</p>
					</div>
					<div class="tbody">
						<div class="tableScroll">
							<table class="table table-condensed">
							<div ng-show="isDisabled" class="text-center col-md-4 col-md-offset-4 maxgridnodata">{{msg}} hhg</div>
							<div ng-show="isNoDataFoundEng" class="text-center col-md-4 col-md-offset-4 maxgridnodata">{{msg2}}</div>
							<div ng-show="isError" class="text-center col-md-4 col-md-offset-4 maxgridnodata">{{msg3}}</div>
								<tbody id="tabody">
									<tr ng-repeat="itm in eng_griddata">
										<td class="text-center">{{itm.make}}</td>
										<td class="text-center">{{itm.model}}</td>
										<td class="text-center">{{itm.avgWaterUsage | number:2}}</td>
										<td class="text-center">{{itm.avgPowerUsage | number:2}}</td>
										<td class="text-center">{{itm.avgWashCycleDurationUsage | number:2}}</td>
										<td class="text-center">{{itm.avgWashCyclesUsage | number:2}}</td>
										<td class="text-center">{{itm.avgTemperatureUsage | number:2}}</td>
										<td class="text-center">{{itm.avgDetergentUsage | number:2}}</td>
										<td class="text-center">{{itm.avgHumidityUsage | number:2}}</td>
										<td class="text-center">{{itm.avgLoadUsage | number:2}}</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>
				<!--      END table-responsive -->
				<label class="pull-right " ng-if="eng_griddata.length > 0" id="maxfootr">{{eng_griddata.length}}
					{{'records_found_text' | translate}}</label>
			</div>
		</div>
		<div class="panel panel-default datagrid" id="gridNormal" >
			<div class="panel-heading md-body-2"
					id="normalgridhead">
				{{'data_grid_title' | translate}}<img id="gridMaxImg"
					class="pull-right col-md-1"

					src="img/Dashboardassets/icon_maximize.png"
					ng-click="maximizeGrid()"></img> <img id="gridCloseImg"
					class="pull-right hidden col-md-1 "

					src="img/Dashboardassets/close.png" ng-click="closeGrid()"></img>
					<img class="pull-right col-md-1"
						id="gridinfo"
						src="img/Dashboardassets/help.png"
						data-toggle="popover" data-placement="left"
						data-content="Includes the filtered records of selections from most common type of machines to the consumptions it made to fulfill a wash."
						data-trigger="hover"></img>
			</div>


			<div class="panel-body" id="gridHideNodata">
				<!--   START table-responsive -->
				<div id="gridAdjustHeight" class="panel panel-default">
					<div class="tableHeader">
						<p class="text-center" translate="{{'make'}}"></p>
						<p class="text-center" translate="{{'model'}}"></p>
						<p class="text-center">
							{{'water_used' | translate}}<span class='notbold'> (G)</span>
						</p>
						<p class="text-center">
							{{'energy_used' | translate}}<span class='notbold'> (kw)</span>
						</p>
						<p class="text-center">
							{{'wash_cycle' | translate}}<span class='notbold'> (min)</span>
						</p>
						<p class="text-center">{{'wash_cycles' | translate}}</p>
						<p class="text-center">
							{{'temperature' | translate}}<span class='notbold'> (f)</span>
						</p>
						<p class="text-center">
							{{'detergent_used' | translate}}<span class='notbold'> (gms)</span>
						</p>
						<p class="text-center">
							{{'humidity' | translate}}<span class='notbold'> (%)</span>
						</p>
						<p class="text-center">
							{{'load' | translate}}<span class='notbold'> (kgs)</span>
						</p>
					</div>
					<div class="tbody">
						<div class="tableScroll">
							<table class="table table-condensed">
							<div ng-show="isLoadingFilters" class="text-center col-md-4 col-md-offset-4 maxgridnodata">{{msg}}</div>
							<div ng-show="isNoDataFoundEng" class="text-center col-md-4 col-md-offset-4 maxgridnodata">{{msg2}}</div>
							<div ng-show="isError" class="text-center col-md-4 col-md-offset-4 maxgridnodata">{{msg3}}</div>
								<tbody id="tabody">
									<tr ng-repeat="itm in eng_griddata">
										<td class="text-center">{{itm.make}}</td>
										<td class="text-center">{{itm.model}}</td>
										<td class="text-center">{{itm.avgWaterUsage | number:2}}</td>
										<td class="text-center">{{itm.avgPowerUsage | number:2}}</td>
										<td class="text-center">{{itm.avgWashCycleDurationUsage | number:2}}</td>
										<td class="text-center">{{itm.avgWashCyclesUsage | number:2}}</td>
										<td class="text-center">{{itm.avgTemperatureUsage | number:2}}</td>
										<td class="text-center">{{itm.avgDetergentUsage | number:2}}</td>
										<td class="text-center">{{itm.avgHumidityUsage | number:2}}</td>
										<td class="text-center">{{itm.avgLoadUsage | number:2}}</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>
				<!--      END table-responsive -->
				<label class="pull-right " ng-if="eng_griddata.length > 0" id="gridfootermsg">{{eng_griddata.length}}
					{{'records_found_text' | translate}}</label>
			</div>
		</div>
		<!--   END panel -->
	</div>
	<!-- END dashboard main content-->
	<!-- START dashboard sidebar-->


	<!-- START dashboard sidebar-->
	<aside class="col-lg-4" >

		<!-- START messages and activity-->
		<div class="panel panel-default" id="notifheight">
			<div class="panel-heading">
				<div class="panel-title md-body-2"
				id="notificationtitl" translate="{{'notifications_title'}}">
					<img class="pull-right col-md-1"
						id="notfinfo"
						src="img/Dashboardassets/help.png"
						data-toggle="popover" data-placement="left"
						data-content="Configurable observations are notified through the Notification area to keep alert the user in case of attention to be paid."
						data-trigger="hover">
				</div>

			</div>

			<div
				class="panel panel-default notflist">
				<!-- START list group-->
				<div class="list-group">
					<!-- START list group item-->
					<div class="list-group-item">
						<div class="media-box" ng-controller="notificationController"
							ng-init="getSpikesInSpecificErrors()">
							<div class="media-box-heading" ng-show="data.length || isError">
								<h4 translate="{{'spike_in_specific_errors_title'}}"></h4>
							</div>
							<div class="media-box-body clearfix" ng-repeat="itm in data"
								ng-show="data.length">
								<div ng-if="itm.increase_spike">
									<p class="text-warning m0" translate="{{'specific_errors_spike_msg'}}" translate-values="{ error_type: '{{itm.error_type}}', spike: '{{itm.increase_spike}}' }">{{itm.error_type}} related errors are increased by
									{{itm.increase_spike
									| number:0}}% in last 4 weeks</p>
									<small class="text-pink pull-right ml">{{itm.increase_spike
										| number:0}}%</small> <br>
									<progressbar
										value="itm.increase_spike"
										type="pink" class="progress-xs m0 notifprogress"
										data-toggle="popover" data-placement="top" data-html="true"
										data-content="Spike: {{itm.increase_spike - spikeBySpecificErrorsTolerance}}% greater than tolerance"
										data-trigger="hover"></progressbar>
									<br>
								</div>
								<div ng-if="itm.decrease_spike">
									<p class="text-warning m0" translate="{{'specific_errors_spike_msg'}}" translate-values="{ error_type: '{{itm.error_type}}', spike: '{{itm.decrease_spike}}' }">{{itm.error_type}} related errors are increased by
									{{itm.decrease_spike
									| number:0}}% in last 4 weeks</p>
									<small class="text-greens pull-right ml">{{itm.decrease_spike
										| number:0}}%</small> <br>
									<progressbar
										value="itm.decrease_spike"
										type="greens" class="progress-xs m0 notifprogress"
										data-toggle="popover" data-placement="top" data-html="true"
										data-content="Spike: {{spikeBySpecificErrorsTolerance - itm.decrease_spike}}% less than tolerance"
										data-trigger="hover"></progressbar>
									<br>
								</div>
							</div>
							<!--Notification alerts handled-->
							<div class="media-box-body"
								ng-show="isLoading||isError||isNoDataDB">
								<span
									 class="isLoading"
									ng-show="isLoading"
									class="glyphicon glyphicon-alert notifalrtmsg" aria-hidden="true"> <span
									class="sr-only">Error:</span> {{msg}}
								</span>
								<span
								class="nodata"
									ng-show="isError||isNoDataDB"
									class="glyphicon glyphicon-alert " aria-hidden="true"> <span
									class="sr-only">Error:</span> {{msg}}
								</span>
							</div>
						</div>
					</div>

					<div class="list-group-item">
						<div class="media-box" ng-controller="notificationController"
							ng-init="getSpikesInSpecificErrorsByMakeModel()">
							<div class="media-box-heading" ng-show="data.length || isError">
								<h4 translate="{{'spike_in_specific_errors_by_make_model_title'}}"></h4>
							</div>
							<div class="media-box-body clearfix" ng-repeat="itm in data"
								ng-show="data.length">
								<div ng-if="itm.increase_spike">
									<p class="text-warning m0" translate="{{'specific_errors_by_make_model_spike_msg'}}" translate-values="{ error_type: '{{itm.error_type}}', make: '{{itm.make}}', model: '{{itm.model}}', spike: '{{itm.increase_spike}}' }">{{itm.error_type}} related errors are increased by
									{{itm.increase_spike | number:0}}% for {{itm.make}} - {{itm.model}} in last 4 weeks</p>
									<small class="text-pink pull-right ml">{{itm.increase_spike
										| number:0}}%</small> <br>
									<progressbar
										value="itm.increase_spike"
										type="pink" class="progress-xs m0 notifprogress"
										data-toggle="popover" data-placement="top" data-html="true"
										data-content="Make: {{itm.make}} <br>
								Model: {{itm.model}} <br> Spike: {{itm.increase_spike - spikeBySpecificErrorByMakeModelTolerance | number:0}}% greater than tolerance"
										data-trigger="hover"></progressbar>
									<br>
								</div>
								<div
									ng-if="itm.decrease_spike">
									<p class="text-warning m0" translate="{{'specific_errors_by_make_model_spike_msg'}}" translate-values="{ error_type: '{{itm.error_type}}', make: '{{itm.make}}', model: '{{itm.model}}', spike: '{{itm.decrease_spike}}' }">{{itm.error_type}} related errors are increased by
									{{itm.decrease_spike | number:0}}% for {{itm.make}} - {{itm.model}} in last 4 weeks</p>
									<small class="text-greens pull-right ml">{{itm.decrease_spike | number:0}}%</small> <br>
									<progressbar
										value="itm.decrease_spike"
										type="greens" class="progress-xs m0 notifprogress"
										data-toggle="popover" data-placement="top" data-html="true"
										data-content="Make: {{itm.make}} <br>
								Model: {{itm.model}} <br> Spike: {{spikeBySpecificErrorByMakeModelTolerance - itm.decrease_spike}}% less than tolerance"
										data-trigger="hover"></progressbar>
									<br>
								</div>
							</div>
							<!--Notification alerts handled-->
							<div class="media-box-body"
								ng-show="isLoading||isError||isNoDataDB">
								<span
									 class="isLoading"
									ng-show="isLoading"
									class="glyphicon glyphicon-alert " aria-hidden="true"> <span
									class="sr-only">Error:</span> {{msg}}
								</span>
								<span
									class="nodata"
									ng-show="isError||isNoDataDB"
									class="glyphicon glyphicon-alert " aria-hidden="true"> <span
									class="sr-only">Error:</span> {{msg}}
								</span>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
		<!-- END messages and activity-->
	</aside>
	<!-- END dashboard sidebar-->


	<!-- END messages and activity-->
	</aside>
	<!-- END dashboard sidebar-->
</div>
</div>
</div>
 <script>
         $(document).on("mouseover", function(event) {
        	  
        	   
        	   $('#dashboardNav').addClass('sidebarItemActive');
        	   $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard.png');
        	   $('#reportsNav').removeClass('sidebarItemActive');
        	  // $('#dashboardNav img').attr('src','img/Dashboardassets/dashboard.png');
        	 
        	});
         
         </script>
